i.icss-2cv-car {
    height: 0.2em;
    width: 1.28em;
    border-style:solid;
    border-color: transparent;
    background: transparent;
    border-width: 0 .62em 0 .6em;
    border-radius: 0.1em;
    box-shadow: inset 0 0 0 1em, -.09em .32em 0 -.065em;
    margin: .02em -.16em .38em .03em;
}
i.icss-2cv-car:before {
    width: .8em;
    height: 0.8em;
    border-radius: 35% 45% 0 0 / 50% 70% 0 0;
    box-shadow: inset 0 0 0 .065em,
        -.35em .145em 0 -.05em,
        inset 0 -.6em,
        inset -.23em -.08em;
    clip: rect(0 1em .45em -1em);
    top: -.02em;
    left: -.3em;
}
i.icss-2cv-car:after {
    width: .28em;
    height: .28em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1em, .7em 0, -.19em -.17em 0 -.075em;
    clip: rect(-.15em 1em 1em -.07em);
    top: 0.3em;
    left: -.53em;
}