i.icss-address-book {
    width: .8em;
    height: 1em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    border-radius: .05em;
    margin-left: .05em;
}
i.icss-address-book:before {
    width: .47em;
    height: .39em;
    border-style: solid;
    border-width: .065em;
    border-radius: .03em;
    top: .05em;
    left: 50%;
    box-shadow: -.38em -.02em 0 -.16em, -.38em .43em 0 -.16em;
    transform: translateX(-50%);
        
}
i.icss-address-book:after {
    width: .47em;
    height: .065em;
    border-style: solid;
    border-width: 0;
    top: .38em;
    left: 50%;
    box-shadow: 0 .12em, 0 .24em, 0 .36em;
    transform: translateX(-50%);
}