i.icss-airplane {
	height: 10em;
	width: 1.4em;
	border-radius: 75% 75% 75% 75% / 30% 30% 70% 70%;
	position: relative;
	background: transparent;
	box-shadow: inset 0 -8em 0 -0.5em, 
		inset 0 0.1em 0 0.4em;
	margin: 0 4em;
	transform: rotate(45deg);
}

i.icss-airplane:before {
	border-style: solid;
	border-color: transparent;
	border-bottom-color: currentcolor;
	border-width: 0 5.5em 1.8em;
	border-radius: 1em;
	left: 50%;
	top: 3.8em;
	transform: translateX(-50%);
	box-shadow: 0 0.65em 0 -0.4em;
}

i.icss-airplane:after {
	border-style: solid;
	border-color: transparent;
	border-bottom-color: currentcolor;
	border-width: 0 2em 0.8em;
	border-radius: 1em;
	left: 50%;
	top: 8.3em;
	transform: translateX(-50%);
	box-shadow: 0 0.35em 0 -0.2em;
}
