i.icss-airplane {
	height: 1em;
	width: .14em;
	border-radius: 75% 75% 75% 75% / 30% 30% 70% 70%;
	position: relative;
	background: transparent;
	box-shadow: inset 0 -.8em 0 -.05em, 
		inset 0 .01em 0 .04em;
	margin: 0 .43em;
	transform: rotate(45deg);
}
.icss-stack i.icss-airplane {
    transform: translate(-.5em, -.5em) rotate(45deg);
}
i.icss-airplane:before {
	border-style: solid;
	border-color: transparent;
	border-bottom-color: currentcolor;
	border-width: 0 .55em .18em;
	border-radius: .1em;
	left: 50%;
	top: .38em;
	transform: translateX(-50%);
	box-shadow: 0 .065em 0 -.04em;
}

i.icss-airplane:after {
	border-style: solid;
	border-color: transparent;
	border-bottom-color: currentcolor;
	border-width: 0 .2em 0.08em;
	border-radius: .1em;
	left: 50%;
	top: .83em;
	transform: translateX(-50%);
	box-shadow: 0 .035em 0 -.02em;
}
