i.icss-align-center {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
i.icss-align-center:before {
  width: .08em;
  height: .9em;
  background-color: currentColor;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
i.icss-align-center:after {
  width: .4em;
  height: .25em;
  background-color: currentColor;
  border-radius: .05em;
  box-shadow: .1em .35em, -.1em .35em;
  transform: translateX(-50%);
  top: .2em;
  left: 50%;
}