i.icss-align-middle {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
i.icss-align-middle:before {
  width: .9em;
  height: .08em;
  background-color: currentColor;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
i.icss-align-middle:after {
  width: .25em;
  height: .4em;
  background-color: currentColor;
  border-radius: .05em;
  box-shadow: .35em .1em, .35em -.1em;
  transform: translateY(-50%);
  top: 50%;
  left: .2em;
}