i.icss-android {
    border-width: .23em .23em;
    border-style: solid;
    border-radius: 0 0 .1em .1em;
    margin: .35em .28em .19em;
}
i.icss-android:before {
    border-width: .23em .23em;
    border-style: solid;
    border-radius: 100% 100% 0 0;
    clip: rect(0 .5em .24em 0);
    left: -.23em;
    top: -.52em
}
i.icss-android:after {
    border-width: .13em .065em;
    border-style: solid;
    border-radius: .08em;
    left: .03em;
    top: .17em;
    box-shadow: -.18em 0, 
        -.42em -.3em, .23em -.3em, 
        -.42em -.4em, .23em -.4em, 
        .05em -.78em 0 -.035em, -.22em -.78em 0 -.035em;
}