i.icss-android-c {
    border-width: .22em .23em;
    border-style: solid;
    border-color:  #a4c639;
    border-radius: 0 0 .1em .1em;
    margin: .35em .17em .21em;
}
i.icss-android-c:after {
    width: .46em;
    height: .46em;
    background-color: #a4c639;
    border-radius: 100% 100% 0 0;
    clip: rect(0 .5em .24em 0);
    left: -.23em;
    top: -.5em;
    background-image: 
        radial-gradient(circle at 0.3em 0.13em , 
			#fff 0, #fff 0.032em, transparent 0.032em),
        radial-gradient(circle at 0.15em 0.13em , 
			#fff 0, #fff 0.032em, transparent 0.032em);
}
i.icss-android-c:before {
    border-width: .13em .065em;
    border-style: solid;
    border-color:  #a4c639;
    border-radius: .08em;
    left: .03em;
    top: .17em;
    box-shadow: -.18em 0 #a4c639, 
        -.42em -.3em #a4c639, .23em -.3em #a4c639, 
        -.42em -.4em #a4c639, .23em -.4em #a4c639, 
        .05em -.75em 0 -.035em #a4c639, -.22em -.75em 0 -.035em #a4c639;
}