i.icss-apple {
    width: .7em;
    height: .7em;
    border-radius: 100% .4em 100% .25em;
    margin: 0 .2em .15em;
    box-shadow: .18em .18em;
    transform: rotate(-45deg);
    margin: 0 .2em .08em -0.03em;
}
i.icss-apple:after {
    width: .26em;
    height: .13em;
    border-radius: 100% .02em;
    background-color: currentColor;
    top: 0.07em;
    left: 0.75em; 
    transform: rotate(20deg);
}