i.icss-apple {
    width: 1em;
    height: 1em;
    background: transparent;
    margin: 0;
}
i.icss-apple:before {
    width: .7em;
    height: .7em;
    background-color: currentColor;
    border-radius: 100% .4em 100% .25em;
    box-shadow: .18em .18em;
    transform: rotate(-45deg);
    top: .22em;
    left: .03em;
}
i.icss-apple:after {
    width: .26em;
    height: .13em;
    border-radius: 100% .02em;
    background-color: currentColor;
    top: 0;
    left: .47em; 
    transform: rotate(-25deg);
}