i.icss-arrow-left {
    width: 1em;
    height: .18em;
    border-radius: .1em;
    background-color: currentColor;
    margin: .41em  0;
}
i.icss-arrow-left:before {
    width: .6em;
    height: .18em;
    border-radius:1em;
    background-color: currentColor;
    top: -.15em;
    left: -.06em;
    transform: rotate(-45deg);
}
i.icss-arrow-left:after {
    width: .6em;
    height: .18em;
    border-radius: .1em;
    background-color: currentColor;
    top: .15em;
    left: -0.06em;
    transform: rotate(45deg);
}