i.icss-arrows-v {
    width: .75em;
    height: .75em;
    background-color: transparent;
    transform: rotate(45deg);
    margin: .13em .16em;
    overflow: hidden;
}
i.icss-arrows-v:before {
    height: 1.5em;
    border: .075em solid currentColor;
    border-radius: 0.5em;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
i.icss-arrows-v:after {
    height: 1.5em;
    border: .075em solid transparent;
    border-radius: 0.5em;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 0.42em 0, -0.42em 0;
}