i.icss-arrow-down {
    width: 1em;
    height: .18em;
    border-radius: .1em;
    background-color: currentColor;
    margin: .41em  0;
    transform: rotate(90deg);
}
.icss-stack i.icss-arrow-down {
   transform: translate(-.5em, -.5em) rotate(90deg);
}
i.icss-arrow-down:before {
    width: .6em;
    height: .18em;
    border-radius: .1em;
    background-color: currentColor;
    top: -.15em;
    left: .46em;
    transform: rotate(45deg);
}
i.icss-arrow-down:after {
    width: .6em;
    height: .18em;
    border-radius: .1em;
    background-color: currentColor;
    top: .15em;
    left: .46em;
    transform: rotate(-45deg);
}