i.icss-axe {
  width: .2em;
  height: 1em;
  background-color: transparent;
  box-shadow: inset 0 0 0 .065em, inset 0 -.3em;
  border-radius: 50% / .08em;
  transform: rotate(30deg);
  margin: 0 .5em 0 .3em;
}
.icss-stack i.icss-axe {
  transform: translate(-.5em, -.5em) rotate(30deg);
}
i.icss-axe:before {
  width: .65em;
  height: .51em;
  border-radius: 50% 20% 20% 50% / 50% 45% 45% 50%;
  border: .14em solid transparent;
  border-color: transparent currentColor;
  border-width: .2em .3em .2em .2em;
  box-shadow: inset 0.1em 0.1em;
  top: 0;
  left: -.17em;
}
i.icss-axe:after {
  width: .63em;
  height: .43em;
  border-radius: 50% 25% 25% 50% / 50% 45% 45% 50%;
  border: .065em solid currentColor;
  border-width: .03em .065em;
  clip: rect(0 1em 1em .45em);
  top: .04em;
  left: -.035em;
}
