i.icss-badge {
  width: .55em;
  height: .55em;
  border-radius: 50%;
	background-color: transparent;
  border: .08em solid transparent;
	box-shadow: inset 0 0 0 .1em, 
    .19em .19em 0 -.15em,
    -.19em .19em 0 -.15em,
    -.19em -.19em 0 -.15em,
    .19em -.19em 0 -.15em,
    -.25em 0 0 -.15em,
    .25em 0 0 -.15em,
    0 -.25em 0 -.15em,
    0 .25em 0 -.15em;
  margin: .07em .225em .38em;
}
i.icss-badge:before {
  width: .24em;
  height: .4em;
  border: .12em solid currentColor;
  border-bottom: .1em solid transparent;
  transform: translateX(-50%) rotate(20deg);
  box-shadow: inset .1em 0;
  top: .45em;
  left: 10%;
}
i.icss-badge:after {
  width: .24em;
  height: .4em;
  border: .12em solid currentColor;
  border-bottom: .1em solid transparent;
  transform: translateX(-50%) rotate(-20deg);
  box-shadow: inset .1em 0;
  top: .45em;
  left: 90%;
}