i.icss-ban {
  width: 1em;
  height: 1em;
  border: 0.13em solid currentColor;
  background-color: transparent;
  border-radius: 100%;
  margin: 0;
}
i.icss-ban:before {
  width: .9em;
  height: .15em;
  background-color: currentColor;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}