i.icss-bars-4 {
  width: 1em;
  height: 1em;
  background:transparent;
}

i.icss-bars-4:after {
  width: 1em;
  height: .14em;
  border-radius: .06em;
  background-color: currentColor;
  -webkit-box-shadow: 0 0.28em 0 0em, 0 0.58em 0 0em, 0 0.86em 0 0em;
  box-shadow: 0 0.28em 0 0em, 0 0.58em 0 0em, 0 0.86em 0 0em;
}
