i.icss-batman {
  width: .75em; 
	height: 1.05em; 
	border-radius: .1em .1em 40% 40% / .3em .3em 60% 60%;
  background-color: transparent;
  border-style: solid;
  border-color: transparent currentColor;
  border-width: .3em .15em 0;
  margin: -.05em .125em 0;
}
i.icss-batman:before {
  width: .65em;
  height: .6em;
  background-color: transparent;
  border-radius: 45%;
  box-shadow: 
    inset 0 1.03em 0 -.6em currentColor,
    inset 0 -.065em currentColor;
  transform: translateX(-50%);
  left: 50%;
  top: -.17em;
}
i.icss-batman:after {
  width: .22em;
  height: .22em;
  border-radius: .1em 0 .05em;
  background-color: currentColor;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: .1em .1em 0 -.025em,
    .26em -.09em 0 -.05em,
    -.09em .26em 0 -.05em;
  left: 50%;
  top: .15em;
}