i.icss-battery-4 {
    width: .9em;
    height: .45em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    border-radius: .05em;
    margin-right: .125em;
}
i.icss-battery-4:before {
    border-style: solid;
    border-width: .1em .07em;
    top: 50%;
    left: .82em;
    border-radius: .03em;
    transform: translateY(-50%);
}
i.icss-battery-4:after {
    border-width: .135em .35em;
    border-style: solid;
    left: .04em;
    top: 50%;
    transform: translateY(-50%);
    border-radius: .03em;
}