i.icss-bear {
    width: .76em;
    height: .8em;
    background-color: transparent;
    border-style: solid;
    border-width: 0.08em 0.095em 0.12em;
    border-color: currentColor transparent;
    margin: .1em .2em .1em .1em;
    box-shadow: inset 0 0 0 0.5em, 0 0.1em, 0 -0.08em;
}
i.icss-bear:before {
    width: .4em;
    height: .55em;
    border: 0.1em solid currentColor;
    border-radius: .03em .03em .15em .03em;
    top: -.08em;
    left: .45em;
}
i.icss-bear:after {

}
