i.icss-bed {
  width: .8em;
  height: .6em;
  background-color: transparent;
  border: 0 solid transparent;
  border-width: .4em 0 0;
  box-shadow: inset 0 .08em, 
    -.08em 0, 
    .165em .08em 0 -.08em;
  margin: .35em .1em .05em;
}
i.icss-bed:before {
  width: .35em;
  height: .35em;
  border: .065em solid transparent;
  box-shadow: inset 0 0 0 .15em, .3em .385em 0 .3em;
  border-radius: 50%;
  clip: rect(0 .75em .3em .05em);
  top: -.35em;
  left: 0em;
}