i.icss-bike {
  width: .4em;
  height: .4em;
  border-radius: 50%; 
  box-shadow: 
    0.45em -0.46em 0 -0.156em,
    .05em -0.5em 0 -0.156em,
    .14em -0.62em 0 -0.156em,
    0.55em -.2em, 
    0.35em -0.7em 0 -0.118em;
  margin: 0.6em .575em 0 .025em;
}
i.icss-bike:before {
  width: 0.30em;
  height: .38em;
  background-color: transparent;
  box-shadow: inset 0.091em 0 0 0.085em,
    -.18em -.02em 0 -.1em;
  border-radius: 0.08em 0 0 .08em;
  top: -0.42em;
  left: 0.28em;
  transform: rotate(35deg)
}
i.icss-bike:after {
  height: 0.27em;
  background-color: currentColor;
  border: 0.046em solid currentColor;
  border-radius: 0.05em;
  left: 0.43em;
  top: -.06em;
}