i.icss-birthday-cake {
	width: .9em; 
	height: .5em;
	border: 0.065em solid currentcolor;
	border-radius: .1em .1em 0 0;
	background-color: transparent; 
	background-image: 
		linear-gradient(135deg, currentcolor 35%, transparent 35%), 
		linear-gradient(225deg, currentcolor 35%, transparent 35%), 
		linear-gradient(315deg, currentcolor 28%, transparent 28%), 
		linear-gradient(45deg, currentcolor 28%, transparent 28%);
	background-size: 0.2em 0.3em;
	box-shadow: inset 0 -.1em, inset 0 .12em;
	background-position: -0.1em 0, -0.1em 0, 0 0, 0 0;
	margin: .5em .05em 0;
}

i.icss-birthday-cake:before {
	width: .1em;
	height: .35em;
	background-color: currentColor;
	box-shadow: .25em 0, -.25em 0;
	transform: translateX(-50%);
	top: -.35em;
	left: 50%;
}

i.icss-birthday-cake:after {
	width: .18em;
	height: .18em;
	background-color: currentColor;
	border-radius: 50% 0 50% 50%;
	box-shadow: .335em .125em, -.335em -.125em;
	transform: translateX(-50%) scaleX(.7) rotate(-20deg);
	top: -.56em;
	left: 50%;
}
