i.icss-books {
    width: .25em;
    height: 1em;
    background-color: transparent;
    border: .065em solid currentColor;
    border-radius: .03em;
    box-shadow: inset 0 .1em, inset 0 -.65em;
    margin: 0 .75em 0 0;
}
i.icss-books:before {
    width: .25em;
    height: 1em;
    border: .065em solid currentColor;
    border-radius: .03em;
    box-shadow: inset 0 .1em, inset 0 -.65em;
    transform: translateY(-50%);
    top: 50%;
    left: .25em;
}
i.icss-books:after {
    width: .25em;
    height: 1em;
    border: .065em solid currentColor;
    border-radius: .03em;
    box-shadow: inset 0 .1em, inset 0 -.65em;
    transform: translateY(-50%) rotate(-10deg);
    top: 50%;
    left: .6em;
}