i.icss-books {
    width: .3em;
    height: 1em;
    background-color: transparent;
    border-width: .18em .065em .7em;
    border-style: solid;
    border-radius: .03em;
    margin-right: .85em;
}
i.icss-books:before {
    width: .3em;
    height: 1em;
    background-color: transparent;
    border-width: .18em .065em .7em;
    border-style: solid;
    border-radius: .03em;
    top: -.18em;
    left: .3em;
}
i.icss-books:after {
    width: .3em;
    height: 1em;
    background-color: transparent;
    border-width: .18em .065em .7em;
    border-style: solid;
    border-radius: .03em;
    top: -.19em;
    left: .7em;
    transform: rotate(-10deg)
}