i.icss-book-bookmark {
  width: .2em;
  height: .3em;
  border: .1em solid currentColor;
  border-color: currentColor currentColor transparent;
  border-top: 0;
  border-radius: .1em 0 0 0 / .05em 0 0 0;
  box-shadow: -.23em .64em 0 -.07em;
  background-color: transparent;
  margin: .1em .17em .6em .63em;
}
i.icss-book-bookmark:before {
  width: .5em;
  height: .75em;
  box-shadow: inset 0 0 0 .07em, .03em .06em;
  border-radius: .15em 0 0 .05em;
  transform: skewY(-10deg);
  top: .03em;
  left: -.26em;
}
i.icss-book-bookmark:after {
  width: .5em;
  height: .75em;
  box-shadow: inset 0 0 0 .07em, -.03em .06em;
  border-radius: 0 .15em .05em 0;
  transform: skewY(10deg);
  top: .03em;
  left: -.69em;
}