i.icss-bottle {
  width: .35em;
  height: .7em;
  background-color: transparent;
  box-shadow: inset 0 0 0 .065em, inset 0 -.33em, inset 0 .48em 0 -.3em;
  border-radius: .3em .3em .08em .08em;
  margin: .2em 0 0;
}
i.icss-bottle:before {
  width: .13em;
  height: .22em;
  border-bottom: .035em solid transparent;
  box-shadow: inset 0 .5em, 0 .1em ;
  border-radius: .02em .02em 0 0;
  top: -.25em;
  left: 50%;
  transform: translateX(-50%);
}
i.icss-bottle:after {
  width: .16em;
  height: .1em;
  box-shadow: inset .2em 0;
  border-radius: .03em;
  top: -.22em;
  left: 50%;
  transform: translateX(-50%);
}
