i.icss-bowling {
    width: .5em;
    height: .5em;
    border-radius:50%;
    background-color: transparent;
    box-shadow: inset 0 0 0 .02em;
    background-image: 
        radial-gradient(circle at 25% 23%, 
            transparent 0, transparent .04em, currentColor .04em, 
            currentColor .11em, transparent .11em),
        radial-gradient(circle at 55% 13%, 
            transparent 0, transparent .04em, currentColor .04em, 
            currentColor .11em, transparent .11em),
        radial-gradient(circle at 47% 42%, 
            transparent 0, transparent .04em, currentColor .04em, 
            currentColor .11em, transparent .11em),
        linear-gradient(-65deg, 
            currentColor 45%, transparent 45%),
        linear-gradient(37deg, 
            currentColor 42%, transparent 42%);
    margin: .42em .3em 0 .1em;
}
i.icss-bowling:before { 
    width: .3em;
    height: .55em;
    border-radius: .18em .18em .2em .2em / .35em .35em .5em .5em;
    border: 0 solid transparent;
    border-top: .04em solid transparent;
    box-shadow: inset 0 0 0 .065em, 0 -.11em 0 -.05em;
    top: -.12em;
    left: .4em;
}
i.icss-bowling:after {
    width: .19em;
    height: .2em;
    top: -.4em;
    left: .46em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 .065em;
}
