i.icss-boxer-man {
    width: .22em;
    height: .22em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: -.09em .18em 0 -.038em,
        .28em .17em 0 -.035em,
        .1em .33em 0 -.035em;
    margin: .03em .33em .75em .45em;
}
i.icss-boxer-man:before {
    width: .36em;
    height: .23em;
    border: 0em solid transparent;
    border-width: 0;
    box-shadow: inset 0 .08em, inset 0 -.08em;
    transform: skewX(-40deg);
    top: .25em;
    left: -.05em;
}
i.icss-boxer-man:after {
    width: .3em;
    height: .57em;
    border: 0 solid transparent;
    border-width: .22em 0 0;
    box-shadow:
        inset .15em -.1em,
        .2em .37em 0 -.1em,
        -.1em .35em 0 -.1em,
        -.1em .48em 0 -.1em
        ;
    top: .1em;
    left: -.09em;
    transform: rotate(20deg) skewX(-5deg)
}
