i.icss-browser-firefox {
    width: 0.9em;
    height: 0.9em;
    border-radius: 100%;
    border: 0.045em solid transparent;
    background-color: transparent;
    overflow: hidden;
    box-shadow: 
        0 0 0 0.06em,
        inset 0.58em 0 0 -0.5em,
        inset -0.20em -0.05em 0 -0.07em,
        inset -0.01em -0.15em 0 0.07em;
    background-image: 
        radial-gradient(circle at 0.135em 0.33em, currentColor 0, currentColor 12%, transparent 12%)
        ;
    background-size: 1em;
    margin: 0.05em;
}

i.icss-browser-firefox:before {
    width: 0.6em;
    height: 0.65em;
    border-radius: 100%;
    border: 0.1em solid transparent;
    border-width: 0.15em 0em 0 0em;
    top: 0.05em;
    left: 0.0em;
    box-shadow: 
        0.15em 0.13em 0 0.04em,
        inset 0.16em -0.05em 0 -0.01em,
        inset -0.05em -0.04em 0 0.01em;
    transform: rotate(10deg)    
}
i.icss-browser-firefox:after {
    border: 0.15em solid transparent;
    border-left-color: currentColor;
    border-width: 0.07em 0.15em;
    border-radius: 0 100% 70% 0; 
    top: 0.22em;
    left: 0.22em;
    box-shadow: -0.1em 0.2em ;
    transform: rotate(-10deg);
}