i.icss-bug {
    width: .65em;
    height: .87em;
    border-radius: 90% 90% 90% 90%/ 60% 60% 100% 100%;
    background-color: transparent;
    border: 0.075em solid transparent;
    border-width: 0.05em 0 0;
    margin: .14em .3em 0 .25em;
    box-shadow: 0 -.32em 0 -0.18em, 
        inset 0 0 0 .065em, 
        inset 1.29em .3em 0 -1em, 
        inset -1.29em .3em 0 -1em;
    transform: rotate(20deg);
}
i.icss-bug:before {
    width: 1em;
    height: .5em;
    border: 0.065em solid currentColor;
    border-radius: 100% 100% 0.2em .2em / 100%;
    border-bottom: 0;
    top: 0.32em;
    left: 50%;
    transform: translateX(-50%);
    clip: rect(.065em 1.1em 1em 0); 
}
i.icss-bug:after {
    width: 1em;
    height: .4em;
    border: 0.065em solid currentColor;
    border-radius: 0.2em .2em 100% 100% / 100%;
    border-top: 0;
    top: -.23em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -.21em .3em 0 -0.17em, 
        .21em .3em 0 -0.17em;
}
