i.icss-buildings {
  width: 1em;
  height: 1em;
  background-color: transparent;
  overflow: hidden;
  margin: 0;
}
i.icss-buildings:before {
  width: .1em;
  height: .9em;
  border: 0 solid transparent;
  border-width: .1em 0;
  border-bottom: .35em solid currentColor;
  box-shadow: 
    inset 0 .1em,
    0 0 0 .1em,
    .3em .3em,
    -.2em .2em,
    -.4em .1em,
    -.6em .2em;
  top: .1em;
  left: .6em;
}
i.icss-buildings:after {
  width: .5em;
  height: .1em;
  background-color: currentColor;
  box-shadow: 
    0 -.2em, .1em .2em, 0 .4em,
    .5em -.1em, .5em .1em, .5em .3em;
  top: .5em;
  left: 0;
}
