i.icss-bulldozer {
    height: .32em;
    width: .45em;
    background: transparent;
    border-right: .1em solid transparent;
    border-radius: .15em .1em .1em .06em / 100% .1em .1em .06em;
    box-shadow: inset 0 0 0 .065em,
        -.35em .22em 0 -.035em,
        -.02em .185em;
    margin: .2em -.02em .37em .64em;
}
.icss-stack i.icss-bulldozer {
    transform: translate(-.55em, -.5em);
}
i.icss-bulldozer:before {
    width: .09em;
    height: .1em;
    box-shadow: inset 0 0 0 1em, 0 .08em 0 -.02em;
    top: .1em;
    left: -.18em;
}
i.icss-bulldozer:after {
    width: .4em;
    height: .4em;
    border-radius: 50%;
    box-shadow: inset -.24em -.22em 0 -.22em, 
        .03em .065em 0 -.03em,
        .87em .24em 0 -.11em, 
        .67em .24em 0 -.11em, 
        .47em .24em 0 -.11em, 
        .27em .24em 0 -.11em,
        .21em .05em 0 -.15em,
        .92em -.075em 0 -.15em;
    top: 0.16em;
    left: -.74em;
}