i.icss-cannon {
  width: .4em;
  height: .4em;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .12em,
    -.5em -.22em 0 -.13em;
  margin: .55em .25em .05em .35em;
}
i.icss-cannon:before {
  height: .35em;
  border-radius: .15em 0 0 .15em;
  border-style: solid;
  border-color: transparent currentColor;
  border-width: .02em 0 .1em .91em;
  transform: rotate(-10deg);
  box-shadow: .11em -.04em 0 -.04em;
  top: -.27em;
  left: -.3em;
}
i.icss-cannon:after {
  width: .3em;
  height: .1em;
  background-color: currentColor;
  box-shadow: 
    .05em .08em,
    -.5em 0,
    -.58em .08em;
  transform: rotate(-16deg);
  top: .02em;
  left: .28em;
}