i.icss-car {
    width: 1em;
    height: 0.36em;
    border-radius: 0.1em 0.1em 0.03em 0.03em;
    background-color: transparent;
    border: 0.065em solid currentColor;
    background-image: 
        radial-gradient(circle at .15em .1em, 
            transparent 0, 
            transparent .1em, currentColor .1em, 
            currentColor .4em, transparent .4em),
        radial-gradient(circle at .72em .1em, 
            transparent 0, 
            transparent .1em, currentColor .1em, 
            currentColor .4em, transparent .4em)
        ;    
    margin: 0.46em 0 0.18em;
}
i.icss-car:before {
    width: 0.88em;
    height: 1.1em;
    border-radius: 0.3em 0.3em 0 0 / 100%;
    background-color: transparent;
    border: 0.065em solid currentColor;
    top: -0.36em;
    left: 50%;
    transform: translateX(-50%);
    background-image: 
        radial-gradient(circle at .52em .31em, 
            transparent 0, 
            transparent .09em, currentColor .09em, 
            currentColor .16em, transparent .16em);
    clip: rect(0 1em 0.31em 0);
}
i.icss-car:after {
    height: 0.2em;
    border: .11em solid currentColor;
    border-radius: 0.03em;
    top: 0.26em;
    left: 0em;
    box-shadow: 0.66em 0;
}