i.icss-card {
    width: 1em;
    height: .75em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    overflow: hidden;
    border-radius: .05em;
}
i.icss-card:before {
    width: .33em;
    height: .33em;
    border-style: solid;
    border-width: .063em;
    border-radius: .03em;
    top: .1em;
    left: .08em;
    box-shadow: -.05em .3em 0 -.125em, .45em .3em 0 -.125em;
}
i.icss-card:after {
    width: .35em;
    height: .06em;
    top: 0em;
    left: .48em;
    box-shadow: 0 .125em, 0 .25em, 0 .375em;
}