i.icss-caret-r {
  width: 1em;
  height: 1em;
  border-radius: .07em;
  background-color: transparent;
  margin: 0;
}
i.icss-caret-r:before {
  height: .4em;
  width: .4em;
  border: .2em solid currentColor;
  border-color: currentColor currentColor transparent transparent;
  top: 50%;
  left: 50%;
  transform: translate(-70%,-50%) rotate(45deg);
}
