i.icss-caret-circle-up {
  width: 1em;
  height: 1em;
  border-radius: .5em;
  background-color: transparent;
  box-shadow: inset 0 0 0 .15em currentColor;
  overflow: hidden;
  margin: 0;
}
i.icss-caret-circle-up:before {
  height: 1.5em;
  width: 1.5em;
  border: .5em solid currentColor;
  border-color: currentColor currentColor transparent transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-40%) rotate(-45deg);
}
i.icss-caret-circle-up:after {
  height: 1em;
  width: 1em;
  background-color: currentColor;
  top: 0%;
  left: 50%;
  transform: translate(-50%,60%);
}
