i.icss-cc-by {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0 .1em;
}
i.icss-cc-by:before {
  width: .16em;
  height: .16em;
  top: .18em;
  left: 50%;
  border-radius: 50%;
  background: currentColor;
  transform: translateX(-50%);
}
i.icss-cc-by:after {
  width: .15em;
  height: .25em;
  top: .57em;
  left: 50%;
  border-radius: .05em .05em 0 0;
  background: currentColor;
  box-shadow: -.04em -.21em, .04em -.21em;
  transform: translateX(-50%);
}