i.icss-cc-nd {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0 .1em;
}
i.icss-cc-nd:before {
  width: .4em;
  height: .1em;
  top: 50%;
  left: 50%;
  box-shadow: 0 -.1em, 0 .1em;
  transform: translate(-50%, -50%);
}
i.icss-cc-nd:after {
}