i.icss-cc-nc {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0 .1em;
}
i.icss-cc-nc:before {
  content:"$";
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(.8);
}
i.icss-cc-nc:after {
  width: 1em;
  height: .12em;
  background-color: currentColor;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
}