i.icss-chair {
  width: .7em;
  height: .15em;
  background-color: transparent;
  border: 0 solid transparent;
  border-bottom: .2em solid currentColor;
  border-width: 0 .17em .15em;
  margin: .45em .05em .4em;
}
i.icss-chair:before {
  width: .5em;
  height: .8em;
  border: .1em solid transparent; 
  border-width: 0 .065em .16em;
  box-shadow: inset .07em 0, inset -.07em 0,
    .07em .3em,
    -.07em .3em,
    0 -.26em 0 -.01em;
  clip: rect(-.5em 1em .71em -.1em);
  transform: translateX(-50%);
  top: -.16em;
  left: 50%;
}
i.icss-chair:after {
}