i.icss-champagne-bottle {
  width: .35em;
  height: .7em;
  background-color: transparent;
  box-shadow: inset 0 -.05em 0 .065em, inset 0 -.18em;
  background: linear-gradient(transparent 0, transparent .17em, 
    currentColor .17em, currentColor.32em, transparent.32em); 
  border-radius: .25em .25em .08em .08em / .5em .5em .2em .2em;
  margin: .3em 0 0;
}
i.icss-champagne-bottle:before {
  width: .13em;
  height: .22em;
  border-bottom: .04em solid transparent;
  box-shadow: inset 0 .2em, 0 .052em;
  border-radius: .02em .02em 0 0;
  top: -.25em;
  left: .11em;
  transform: perspective(.3em) rotateX(37deg);
}
i.icss-champagne-bottle:after {
  width: .23em;
  height: .21em;
  box-shadow: inset 0 0 0 .048em, 
    0 -.325em 0 -.02em;
  border-radius: 50%;
  top: .005em;
  left: 50%;
  transform: translateX(-50%);
}
