i.icss-chart-area {
    width: .8em;
    height: .8em;
    background-color: transparent;
    border: .065em solid currentColor;
    border-width: 0 0 .065em .065em;
    margin: .1em;
}
i.icss-chart-area:before {
    border: .3em solid transparent;
    border-top: 0;
    border-bottom: .33em solid currentColor;
    box-shadow: 0 .25em, .2em .43em;
    clip: rect(0 1em .58em .1em);
    top: .12em;
    left: -.05em;
}
i.icss-chart-area:after {
    border: .18em solid transparent;
    border-top: 0;
    border-bottom: .25em solid currentColor;
    transform: rotate(18deg);
    box-shadow: 0 .1em;
    top: .25em;
    left: .44em;
}