i.icss-cherry {
    height: .4em;
    width: .4em;
    background: transparent;
    border-radius: 50%;
    box-shadow: 
        inset -.08em -.08em 0 .12em, 
        inset 0 0 0 .07em;
    margin: .45em .5em .1em 0; 
}
i.icss-cherry:before {
    height: .4em;
    width: .4em;
    background: transparent;
    border-radius: 50%;
    box-shadow: 
        inset -.08em -.08em 0 .12em, 
        inset 0 0 0 .07em;
    left: .5em;
    top: .1em;
}
i.icss-cherry:after {
    height: 1em;
    width: 1.3em;
    border-radius: 50%;
    border: 0 solid transparent;
    border-left: .35em solid transparent;
    box-shadow: inset .065em .03em, -.065em -.03em;
    clip: rect(-.05em .65em .5em -.1em);
    transform: rotate(-15deg);
    top: -.4em;
    left: .27em;
}