i.icss-chevron-l {
  width: 1em;
  height: 1em;
  border-radius: .07em;
  background-color: transparent;
  margin: 0;
}
i.icss-chevron-l:before {
  height: .6em;
  width: .6em;
  border: .15em solid currentColor;
  border-color: currentColor currentColor transparent transparent;
  top: 50%;
  left: 50%;
  transform: translate(-30%,-50%) rotate(-135deg);
}
