i.icss-christmass-fir {
  width: .14em;
  height: .1em;
  margin: .7em .29em 0;
}
i.icss-christmass-fir:before {
  width: 0.45em;
  height: 0.45em;
  border-radius: 0 0 0 100%;
  border: .04em solid transparent;
  box-shadow: inset 1em 0, 
    -.12em .12em 0 -.01em,
    .14em -.14em 0 -.07em;
  margin: 0.45em .55em 0 0;
  top: -1em;
  left: -.155em;
  transform: rotate(-45deg);
}
i.icss-christmass-fir:after {
  width: .15em;
  height: .15em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .05em, 
    .23em .32em 0 -.02em,
    -.23em .32em 0 -.02em,
    -.3em .52em 0 -.02em,
    .3em .52em 0 -.02em;
  top: -.85em;
  left: -.005em;
}