i.icss-cloud {
  width: .35em;
  height: .35em;
  box-shadow: .34em 0;
  margin: .4em .5em 0 .15em;
}
i.icss-cloud:before {
  width: .35em;
  height: .35em;
  background-color: currentColor;
  border-radius: 50%;
  left: -.15em;
  box-shadow: .65em 0, 
    .1em -.14em 0 -.08em,
    .3em -.23em 0 0.03em,
    .52em -.18em; 
}
i.icss-cloud:after {

}