i.icss-cloud-download {
    width: .22em;
    height: .1em;
    margin: .75em .63em .1em .15em;
    box-shadow: .49em 0;
}
i.icss-cloud-download:before {
    width: .35em;
    height: .35em;
    border-radius: 50%;
    clip: rect(-1em 1em .28em 0);
    transform: rotate(-48deg);
    top: -.25em;
    left: -.15em;
    box-shadow: inset 0 0 0 1em,
        .253em .03em 0 .06em
}
i.icss-cloud-download:after {
    width: .3em;
    height: .3em;
    border-radius: 50%;
    clip: rect(-1em 1em .26em -1em);
    transform: rotate(48deg);
    top: -.2em;
    left: .55em;
    box-shadow: inset 0 0 0 1em,
        -.32em .02em 0 .12em
}