i.icss-coffee {
    height: .7em;
    width: .75em;
    border-radius: 0 0 .3em .3em;
    margin: .14em .2em .16em .05em;
}
i.icss-coffee:before {
    height: .11em;
    width: .9em;
    background-color: currentColor;
    border-radius: 0 0 .1em .1em;
    left:-0.05em;
    top: .755em;
}
i.icss-coffee:after {
    height: .3em;
    width: .4em;
    border-width: .1em;
    border-style: solid;
    border-radius: .1em;
    top: .1em;
    left: .55em;
}