i.icss-coins {
  width: .28em;
  height: .28em;
  background-color: transparent;
  border: .04em solid transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .05em,
    0 0 0 .05em, 
    -.15em -.2em 0 .02em,
    .15em .1em 0 .01em;
  margin: .22em .15em .5em .57em;
}
i.icss-coins:before {
  content: "1";
  font-size: .25em;
  font-family: sans-serif;
  font-weight: bold;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .15em, 
    -0.5em -.2em 0 -.05em,
    .8em -.5em 0 -.1em;
  top: 1.8em;
  left: -1.2em;
}
i.icss-coins:after {
  content: "$";
  font-size: .25em;
  font-family: sans-serif;
  font-weight: bold;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .15em, 
    -0.5em .2em 0 -.05em,
    .2em -.9em 0 -.1em,
    .7em .4em 0 .05em;
  top: .1em;
  left: -2em;
}