i.icss-composite-source-out {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
i.icss-composite-source-out:before {
  width: .7em;
  height: .7em;
  background-color: currentColor;
  border-radius: 50%;
  clip: rect(0 1em 1em .4em);
  top: .3em;
  left: .3em;
}
i.icss-composite-source-out:after {
  width: .7em;
  height: .7em;
  background-color: currentColor;
  border-radius: 50%;
  clip: rect(.4em 1em 1em 0);
  top: .3em;
  left: .3em;
}