i.icss-cuffs {
  width: .4em;
  height: .4em;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .07em,
    -.16em -.1em 0 -.13em;
  margin: .5em .4em .1em .2em;
}
i.icss-cuffs:before {
  width: .4em;
  height: .4em;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .07em,
    -.11em -.15em 0 -.13em;
  top: -.3em;
  left: .4em;
}
i.icss-cuffs:after {
  width: .7em;
  height: .5em;
  border-radius: 50%;
  border: .065em solid currentColor;
  border-color: currentColor transparent transparent currentColor;
  transform: rotate(-15deg);
  top: -.33em;
  left: -.1em;
}