i.icss-cylinder-2 {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
i.icss-cylinder-2:before {
  width: .8em;
  height: .4em;
  border-radius: 50%;
  border: .05em solid transparent;
  box-shadow: inset 0 1em, 
    0 -.15em 0 .08em;
  transform: translateX(-50%);
  clip: rect(-.5em .75em 1.1em .05em);
  top: .65em;
  left: 50%;
}
i.icss-cylinder-2:after {
  width: .7em;
  height: .3em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .065em, 
    0 .2em 0 .15em;
  transform: translateX(-50%);
  clip: rect(-.5em .7em 1.1em 0);
  top: 0;
  left: 50%;
}