i.icss-cylinder {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
i.icss-cylinder:before {
  width: .8em;
  height: .4em;
  border-radius: 50%;
  border: .05em solid transparent;
  box-shadow: inset 0 1em, 
    0 .38em 0 .2em,
    0 .7em 0 -.05em;
  transform: translateX(-50%);
  clip: rect(0 .75em 1.1em .05em);
  top: -.05em;
  left: 50%;
}