i.icss-daredevil-c {
  width: .76em; 
  height: 1em; 
  border-radius: 50% / 35% 34% 60% 60%;
  background-color: #c03;
  box-shadow: inset 0 -.065em #c03, 
    inset -.11em -.065em 0 -.065em #c03, 
    inset .11em -.065em 0 -.065em  #c03;
  background-image: 
    radial-gradient(ellipse 50% 55% at 50% 25%, 
       #633, transparent 50%),
    radial-gradient(ellipse 100% 60% at 50% 0, 
       #c03 35%, transparent 35%,
      transparent 52%,  #c03 52%,
       #c03 79%, transparent 79%),
    radial-gradient(ellipse 110% 50% at 28% 49%, 
      #fff 12%,  #c03 12%,
       #c03 28%, transparent 28%),
    radial-gradient(ellipse 110% 50% at 72% 49%, 
      #fff 12%,  #c03 12%,
       #c03 28%, transparent 28%),
    radial-gradient(ellipse 100% 60% at 50% 0, 
       transparent 79%, #fda 79%);
  margin: 0 .12em;
}
i.icss-daredevil-c:before {
  width: .25em;
  height: .25em;
  border-radius: 0 0 80% 60% / 0 0 80% 60%;
  background-image: 
    radial-gradient(ellipse 100% 80% at 50% 30%,
      transparent 40%, #903),
    radial-gradient(circle at 70% 50%,
      #e03 20%, #c03, #903);
  transform: scaleX(.7) rotate(40deg);
  left: .03em;
  top: .08em
}
i.icss-daredevil-c:after {
  width: .25em;
  height: .25em;
  border-radius: 0 0 80% 60% / 0 0 80% 60%;
  background-image: 
    radial-gradient(ellipse 100% 80% at 50% 30%,
      transparent 40%, #903),
    radial-gradient(circle at 30% 50%,
      #e03 20%, #c03, #903);
  transform: scaleX(.7) rotate(320deg);
  left: .5em;
  top: .08em;
}
