i.icss-david-star {
	width: .9em;
	height: .52em;
	background-color: transparent;
	margin: .25em .02em;
	border: 0.065em solid transparent;
	border-bottom-color: currentColor;	
	border-top-color: currentColor;	
}
i.icss-david-star:before {
	width: 1.1em;
	height: 1.1em;
	background-color: transparent;
	margin: .25em;
	border: 0.095em solid transparent;
	border-color: currentColor currentColor transparent transparent;
	transform: rotate(-45deg); 
	top: -.345em;
	left: -.41em;
	transform: scaleX(.6) rotate(-45deg); 
}
i.icss-david-star:after {
	width: 1.1em;
	height: 1.1em;
	background-color: transparent;
	margin: .25em;
	border: 0.095em solid transparent;
	border-color: transparent transparent currentColor currentColor;
	transform: rotate(-45deg); 
	top: -.86em;
	left: -.42em;
	transform: scaleX(.6) rotate(-45deg); 
}