i.icss-delicious-c {
  height: 1em;
  width: 1em;
  border-radius: .05em;
  background-color: transparent;
  overflow: hidden;
}
i.icss-delicious-c:before {
  width: .5em;
  height: .5em;
  background-color: #3399ff;
  box-shadow: 
    -.5em .5em #222222, 
    -.5em 0 #fff, 
    0 .5em #eeeeee;
  top: 0;
  left: 50%;
}
i.icss-delicious-c:after {
}