i.icss-desktop-pc {
  width: .75em;
  height: .5em;
  background-color: transparent;
  border-radius: .05em;
  box-shadow: inset 0 0 0  .065em,
    0 .35em 0 -.205em;
  margin: .2em .25em .3em 0;
}
i.icss-desktop-pc:before {
  width: .25em;
  height: .53em;
  border-radius: .03em;
  box-shadow: inset 0 .02em 0  .065em,
    inset 0 -.33em 0  .065em;
  transform0: translate(-50%, -50%);
  top: .2em;
  left: .75em;
}