i.icss-desktop-pc-2 {
    width: .75em;
    height: .5em;
    background-color: transparent;
    border-radius: .05em;
    box-shadow: inset 0 0 0  .065em,
      0 .3em 0 -.205em;
    margin: .2em .25em .3em 0;
  }
  i.icss-desktop-pc-2:before {
    width: .25em;
    height: .53em;
    border-radius: .03em;
    box-shadow: inset 0 .02em 0  .065em,
      inset 0 -.33em 0  .065em;
    top: .2em;
    left: .75em;
  }
  i.icss-desktop-pc-2:after {
    width: .7em;
    height: .2em;
    border-radius: .05em;
    box-shadow: inset 0 0 0 .065em;
    transform: translateX(-50%) perspective(.1em) rotateX(10deg);
    top: .6em;
    left: 50%;
  }
  