i.icss-diamonds-o {
    width:1em;
    height:1em;
    background-color: transparent;
}
i.icss-diamonds-o:before {
    width: .7em;
    height: .7em;
    border: .065em solid currentColor;
    transform: 
        translate(-50%, -50%) 
        scaleX(0.8) 
        rotate(45deg);
    top: 50%;
    left: 50%;
}
