i.icss-disk {
  width: 1em;
  height: 1em;
  border-radius: .07em .28em .07em .07em;
  border: .07em solid currentColor;
  background-color: transparent;
  margin: 0;
}

i.icss-disk:before {
  height: .2em;
  width: .4em;
  border: .07em solid transparent;
  border-top: 0;
  border-radius: 0 0 .01em .01em;
  transform: translateX(-50%);
  box-shadow: inset -.1em 0, 0 0 0 .065em;
  top: 0;
  left: 50%;
}

i.icss-disk:after {
  height: .3em;
  width: .3em;
  border: .05em solid transparent;
  border-radius: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0 0 0 .05em, 0 0 0 .065em; 
  top: 0.4em;
  left: 50%;
}
