i.icss-dog {
  width: .3em;
  height: .3em;
  background-color: transparent;
  border-radius: .05em 0 50% 50%;
  border: .065em solid transparent;
  border-width: 0 .065em .065em 0;
  box-shadow: inset 0 0 0 .2em,
    .1em 0,
    .2em -.05em 0 -.05em,
    .1em .52em 0 -.05em,
    .13em .2em 0 -.02em;
  margin: 0 .33em .7em .37em;
}
i.icss-dog:before {
  width: .33em;
  height: .33em;
  border-radius: 50%;
  border: .1em solid currentColor;
  border-top-color: transparent;
  box-shadow: inset 0 0 0 .05em,
    .09em .45em 0 .02em,
    .13em .74em 0 .06em,
    .15em -.1em 0 -.13em;
  transform: rotate(50deg);
  left: .3em;
}
i.icss-dog:after {
  width: .85em;
  height: .31em;
  border: 0 solid transparent;
  border-width: 0 0 0 .56em;
  border-radius: .15em .15em .15em;
  box-shadow: inset .1em 0, 
    -.105em .06em 0 -.00em,
    .0 .205em 0 -.105em;
  clip: rect(-.1em 1em .5em -.11em);
  top: .6em;
  left: -.32em
}