i.icss-envelope-letter {
    width: 1em;
    height: .72em;
    background-color: transparent;
    border-width: 0 .065em 0.065em;
    border-style: solid;
    border-radius: .05em;
}
i.icss-envelope-letter:before {
    width: .6em;
    height: .6em;
    border: .063em solid currentColor;
    border-radius: .03em;
    top: -.275em;
    left: .137em;
    transform: rotate(36.5deg) skew(-20deg);
}
i.icss-envelope-letter:after {
    width: 0.55em;
    height: 0.28em;
    border: .05em solid transparent;
    border-width: .08em 0.07em 0.05em;
    top: -0.095em;
    left: 50%;
    box-shadow: -.05em -.05em 0 -0.0em, 
         .05em -.05em 0 -0.0em, 
         .0em .155em 0 -0.1em, 
        inset 0 -0.05em,
        inset 0 0.05em;
    transform: translateX(-50%) rotate(-3deg);
}
