i.icss-envelope {
    width: 1em;
    height: .75em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    overflow: hidden;
    border-radius: .05em;
    margin: .125em 0;
}
i.icss-envelope:before {
    width: .6em;
    height: .6em;
    border: .063em solid transparent;
    border-color: transparent currentColor currentColor transparent ;
    border-radius: .03em;
    top: -.3em;
    left: .135em;
    transform: rotate(36.5deg) skew(-20deg);
}
i.icss-envelope:after {
}