i.icss-escalator-down {
  width: .2em;
  height: .2em;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 .2em 0 -.01em,
    .46em .3em 0 .027em,
    -.36em .715em 0 .027em;
  margin: .03em .45em .77em .35em;
}
i.icss-escalator-down:before {
  width: .6em;
  height: .25em;
  border: 0 solid transparent;
  border-width: .07em .16em .08em;
  box-shadow:inset .18em 0, 
    0 .25em;
  transform: skewY(-35deg);
  top: .23em;
  left: -.15em;
}
i.icss-escalator-down:after {
  height: .1em;
  border: .13em solid transparent;
  border-right: .13em solid currentColor;
  border-left: 0;
  box-shadow: 
    .035em 0,
    .12em 0 0 -.04em,
    .2em 0 0 -.04em,
    -.33em -.41em 0 -.04em,
    -.575em .035em,
    .15em -.38em;
  top: .65em;
  left: .3em;
}