i.icss-exit {
  width: .6em;
  height: .8em;
  background-color: transparent;
  box-shadow: inset 0 0 0 .065em;
  border-radius: .05em;
  margin: .1em .3em .1em .1em;
}
i.icss-exit:before {
  width: .4em;
  height: .8em;
  transform: perspective(1em) rotateY(-30deg);
  transform-origin: 0 50%;
  box-shadow: 
    inset -.06em .37em,
    inset .24em .37em,
    inset -.06em -.36em,
    inset .24em -.36em;
  border-radius: .03em;
  top: 0;
  left: 0;
}
i.icss-exit:after {
  width: .36em;
  height: .36em;
  border: .18em solid transparent;
  border-right-color: currentColor;
  transform: translateY(-50%);
  box-shadow: .16em 0 0 -.08em;
  top: 50%;
  left: .45em;
}
