i.icss-f1-car {
    height: .15em;
    width: 1.1em;
    background: transparent;
    border-radius: 100% 0% 15% 10% / 100% 10% 80% 50%;
    box-shadow: inset 0 0 0 .065em;
    margin: .57em 0 .28em 0;
}
.icss-stack i.icss-f1-car {
    transform: translate(-.55em, -.5em);
}
i.icss-f1-car:before {
    width: .83em;
    height: .18em;
    border-radius: 50% 0 / 100% 0;
    box-shadow: inset .13em 0,
        inset -.26em .0em;
    transform: rotate(-5deg) skewX(-30deg);
    clip: rect(.05em .75em .15em 0);
    top: -.13em;
    left: .36em;
}
i.icss-f1-car:after {
    width: .25em;
    height: .25em;
    border-radius: 50%;
    box-shadow: 
        inset 0 0 0 1em,
        .57em 0,
        .45em -.13em 0 -.055em,
        .43em -.12em 0 -.055em;
    top: -.022em;
    left: .18em;
}