i.icss-factory {
  width: .28em;
  height: .3em;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 
    -.31em .02em 0 -.12em,
    -.27em .01em 0 -.11em,
    -.2em .005em 0 -.07em,
    -.12em 0 0 -.04em,
    .12em 0 0 -.04em,
    .2em 0 0 -.07em;
  margin: .04em .28em .66em .44em;
}
i.icss-factory:before {
  width: .2em;
  height: .5em;
  border: 0 solid transparent;
  border-bottom: .5em solid currentColor;
  border-width: 0 .05em .5em;
  box-shadow: 0 .65em 0 .15em, 
    .45em .8em 0 .2em;
  clip: rect(0 1em .8em -.2em);
  top: .16em;
  left: -.29em;
}
i.icss-factory:after {
  width: .25em;
  height: .2em;
  background: currentColor;
  transform: skewY(-35deg);
  box-shadow: .25em .19em;
  top: .66em;
  left: .06em;
}