i.icss-fan {
  width: .25em;
  height: .25em;
  border-radius: 50%;
	background-color: transparent;
  border: .065em solid transparent;
  box-shadow: inset .3em 0, 
    .33em .225em 0 .05em,
    -.33em -.225em 0 .05em,
    .225em -.33em 0 .05em,
    -.225em .33em 0 .05em,
    0 0 0 .065em;
  margin: .375em;
}
i.icss-fan:before {
  width: .7em;
  height: .28em;
  border: .15em solid currentColor;
  border-width: .07em .2em;
  border-color: transparent currentColor;
  transform: translate(-50%, -50%) rotate(30deg);
  top: 50%;
  left: 50%;
}
i.icss-fan:after {
  width: .7em;
  height: .28em;
  border: .15em solid currentColor;
  border-width: .07em .2em;
  border-color: transparent currentColor;
  transform: translate(-50%, -50%) rotate(120deg);
  top: 50%;
  left: 50%;
}