i.icss-file-zip {
    width: .8em;
    height: 1em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    border-radius: .05em .34em .05em .05em;
    margin: 0 .1em;
}
i.icss-file-zip:before {
    border: .14em solid transparent;
    border-left-color: currentColor;
    border-bottom-color: currentColor;
    border-bottom:  .11em solid currentColor;
    top: -.06em;
    left: .455em;
    box-shadow: 
        -.4em 0em 0 -.06em,
        -.3em .1em 0 -.06em,
        -.4em .2em 0 -.06em,
        -.3em .3em 0 -.06em
        ;
}
i.icss-file-zip:after {
    width: 0.23em;
    height: 0.3em;
    border-radius: .02em;
    box-shadow: inset 0 0 0 .07em, inset 0 .05em 0 .07em;
    top: .41em;
    left: .13em;
}
