
i.icss-file-text {
    width: .8em;
    height: 1em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    border-radius: .05em .34em .05em .05em;
}
i.icss-file-text:before {
    border-style: solid;
    border-width: .2em;
    left: .275em;
    border-radius: .1em;
    border-color: transparent;
    border-right-color: currentColor;
    transform: rotate(-45deg);
    top: .02em;
}
i.icss-file-text:after {
    border-width: .03em .25em;
    border-style: solid;
    top: .25em;
    left: .1em;
    box-shadow: 0 .15em, 0 .3em, 0 .45em;
}
    