i.icss-files {
    width: .75em;
    height: .95em;
    background-color: transparent;
    border: .05em solid transparent;
    border-width: 0 .05em .05em 0;
    box-shadow: inset 0 0 0 .065em, .13em .11em 0 -.05em;
    border-radius: 0 .3em 0 0;
    margin: 0 .17em .05em .1em;
}
i.icss-files:before {
    border-style: solid;
    border-width: .2em;
    top: .037em;
    left: .25em;
    border-radius: .1em;
    border-color: transparent;
    border-right-color: currentColor;
    transform: rotate(-45deg);
}