i.icss-file-stat-pie {
    width: .8em;
    height: 1em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    border-radius: .05em .34em .05em .05em;
    overflow: hidden;
}
i.icss-file-stat-pie:before {
    border-style: solid;
    border-width: .22em .22em 0 0;
    border-color: currentColor currentColor transparent transparent;
    border-radius: 0 100% 0 0;
    box-shadow:  .12em -.3em 0 .01em;
    top: .3em;
    left: .37em
}
i.icss-file-stat-pie:after {
    border-style: solid;
    border-width: .22em;
    border-color: currentColor transparent currentColor currentColor;
    border-radius: 50%;
    transform: rotate(-45deg);   
    top: .35em;
    left: .1em
}