i.icss-file-sound {
    width: .8em;
    height: 1em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    border-radius: .05em .34em .05em .05em;
    overflow: hidden;
    margin: 0 .1em;
}
i.icss-file-sound:before {
    width: .5em;
    height: .5em;
    border: .06em solid transparent;
    box-shadow: inset 0 0 0 .07em, 0 0 0 .07em;
    border-radius: 50%; 
    clip: rect(-.5em .8em .25em .25em);
    transform: scaleX(.8) rotate(45deg);
    top: .28em;
    left: .1em;
}
i.icss-file-sound:after {
    width: .3em;
    height: .5em;
    border: .12em solid transparent;
    border-right: .18em solid currentColor; 
    border-left: 0;
    box-shadow: inset .09em 0, .39em -.58em;
    top: .28em;
    left: .08em;
}
