i.icss-flag-v {
  width:0.55em;
  height: .85em;
  border-radius: 0 .05em 0 0;
  background-color: transparent;
  box-shadow: inset .1em .4em;
  transform: skewY(5deg);
  margin: .15em .28em -.02em .12em;
}
.icss-stack i.icss-flag {
    transform: translate(-.5em, -.5em) skewY(5deg);
}
i.icss-flag-v:before {
  width: .55em;
  border: .18em solid currentColor;
  border-right-color: transparent;
  left: .25em;
  top: .15em;
  border-radius: 0 0 0 .05em;
}
i.icss-flag-v:after {
  border:.08em solid currentColor;
  border-radius: 50%;
  top: -.14em;
  left: -.03em;
  transform: skewY(-5deg);
}