i.icss-flag {
  width:0.55em;
  height: .85em;
  border-radius: 0 .05em 0 0;
  background-color: transparent;
  box-shadow: inset .1em .4em;
  transform: skewY(5deg);
  margin: .15em .2em -.02em .2em;
}
.icss-stack i.icss-flag {
    transform: translate(-.5em, -.5em) skewY(5deg);
}
i.icss-flag:before {
  width: .45em;
  border: .2em solid currentColor;
  left: .25em;
  top: .13em;
  border-radius: 0 .5em 0 .05em / 0 0.03em 0 .05em;
}
i.icss-flag:after {
  border:.08em solid currentColor;
  border-radius: 50%;
  top: -.14em;
  left: -.03em;
  transform: skewY(-5deg);
}