i.icss-flower {
  width: .5em;
  height: .5em;
  border-radius: 50%;
  border: .065em solid transparent;
  background-color: transparent;
  box-shadow: inset 0 0 0 .5em, 
    0 -.34em 0 -.06em,
    .32em -.1em 0 -.06em,
    -.32em -.1em 0 -.06em,
    -.2em .28em 0 -.06em,
    .2em .28em 0 -.06em;
  margin: .28em .26em .22em;
}
i.icss-flower:before {

}
i.icss-flower:after {

}