i.icss-folder  {
  width: 1em;
  height: .75em;
  border-radius: .05em;
  background: currentColor;
  border-top: 0 solid transparent;
  margin: .2em 0 .05em;
}
i.icss-folder:before {
  width: .5em;
  height: .2em;
  border-radius: .05em;
  background: currentColor;
  top: -.135em;
  left: 0;
}
i.icss-folder:after {
}