i.icss-folder-open  {
  width: .9em;
  height: .75em;
  border-radius: .05em;
  background: transparent;
  border: 0 solid transparent;
  border-top: .16em solid currentColor;
  margin: .24em .045em 0;
}
i.icss-folder-open:before {
  width: .5em;
  height: .2em;
  border-radius: .05em;
  background: currentColor;
  top: -.28em;
  left: 0;
}
i.icss-folder-open:after {
  width: .9em;
  height: .7em;
  border-radius: .05em;
  background: tr;
  box-shadow: inset 0 0 0 .08em;
  transform: perspective(4em) rotateX(-35deg);
  transform-origin: 50% 100% 0;
  top: -.11em;
  left: 0;
}