i.icss-folder-open  {
  width: .9em;
  height: .75em;
  border-radius: .05em;
  background: transparent;
  box-shadow: inset 0 .16em;
  margin: .2em .045em .05em;
}
i.icss-folder-open:before {
  width: .5em;
  height: .2em;
  border-radius: .05em;
  background: currentColor;
  top: -.12em;
  left: 0;
}
i.icss-folder-open:after {
  width: .9em;
  height: .7em;
  border-radius: .05em;
  background: tr;
  box-shadow: inset 0 0 0 .08em;
  transform: perspective(4em) rotateX(-35deg);
  transform-origin: 50% 100% 0;
  top: .05em;
  left: 0;
}