i.icss-food-pot {
  width: .8em;
  height: .6em;
  background-color: transparent;
  border-radius: 0 0 .1em .1em; 
  border-top: .065em solid transparent;
  box-shadow: inset 0 0 0 .5em,
    0 -.1em;;
  margin: .35em .1em .05em;
}
i.icss-food-pot:before {
  width: .25em;
  height: .25em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .065em,
    -.4em -.35em 0 -.04em;
  left: .7em;
  top: 0;
}
i.icss-food-pot:after {
  width: .25em;
  height: .25em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .065em;
  left: -.15em;
  top: 0;
}