i.icss-gear {
    width: .5em;
    height: .5em;
    position: relative;
    border-radius: 100%;
    background-color: transparent;
    border-width: .07em;
    border-style: solid;
    border-color: transparent;
    margin: .25em;
    box-shadow: 0 0 0 .1em, inset 0 0 0 .3em;
}
i.icss-gear:before {
    width: .18em;
    height: .18em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: .41em 0, -.41em 0, 0 .41em, 0 -.41em;
}

i.icss-gear:after {
    width: .18em;
    height: .18em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: .42em 0, -.42em 0, 0 .42em, 0 -.42em;
}