i.icss-gear {
    width: .4em;
    height: .4em;
    position: relative;
    border-radius: 100%;
    background-color: transparent;
    border-width: .063em;
    border-style: solid;
    border-color: transparent;
    margin: .135em;
    box-shadow: 0 0 0 .063em, inset 0 0 0 .08em;
}
i.icss-gear:before {
    width: .13em;
    height: .13em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: .27em 0, -.27em 0, 0 .27em, 0 -.27em;
}

i.icss-gear:after {
    width: .13em;
    height: .13em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: .27em 0, -.27em 0, 0 .27em, 0 -.27em;
}