i.icss-gesture-thumb-down {
  width: .45em;
  height: .15em;
  border-radius: .1em;
  box-shadow: .02em -.12em, 
    .11em -.13em 0 .048em;
  margin: .5em .5em .35em .05em;
}
i.icss-gesture-thumb-down:before {
  width: .45em;
  height: .5em;
  border-radius: .3em .12em 0 .2em;
  border: .1em solid transparent;
  border-width: 0 0 .35em 0;
  background-color: currentColor;
  box-shadow: 
    -.1em 0,
    -.3em -.35em;
  transform: scaleY(-1) rotate(-110deg);
  clip: rect(-.5em .5em .15em -.5em);
  left: .35em;
  top: .05em;
}
i.icss-gesture-thumb-down:after {
  width: .28em;
  height: .43em;
  border-radius: .03em;
  box-shadow: inset 0 0 0 .1em, inset 0 -.15em 0 .1em;
  left: .65em;
  top: -.32em
}
      
