i.icss-gesture-swipe-right {
  width: .15em;
  height: .55em;
  border-radius: .1em;
  margin: .12em .45em .33em .4em;
}
i.icss-gesture-swipe-right:before {
  width: .45em;
  height: .5em;
  border-radius: .3em .12em 0 .2em;
  border: .1em solid transparent;
  border-width: 0 0 .35em 0;
  box-shadow: inset 0 0 0 .2em, 
    -.1em 0,
    -.3em -.35em;
  transform: rotate(-45deg);
  clip: rect(-.5em .5em .15em -.5em);
  left: .15em;
  top: .35em;
}
i.icss-gesture-swipe-right:after {
    width: .45em;
  border: .12em solid transparent;
  border-color: transparent currentColor;
  border-width: .15em 0 .13em .2em;
  box-shadow: -.25em 0 0 -.075em;
  top: -.05em;
  left: .45em;
}
