i.icss-gesture-devil {
  width: .15em;
  height: .55em;
  border-radius: .1em;
  box-shadow: -.3em .05em;
  margin: .12em .4em .33em .45em;
}
i.icss-gesture-devil:before {
  width: .45em;
  height: .5em;
  border-radius: .3em .12em 0 .2em;
  border: .1em solid transparent;
  border-width: 0 0 .35em 0;
  background-color: currentColor;
  box-shadow: 
    -.1em 0,
    -.3em -.35em;
  transform: rotate(-45deg);
  clip: rect(-.5em .5em .15em -.5em);
  left: .15em;
  top: .35em;
}
i.icss-gesture-devil:after {
}
