i.icss-gesture-keypad {
  width: .15em;
  height: .55em;
  border-radius: .1em;
  margin: .18em .4em .27em .45em;
}
i.icss-gesture-keypad:before {
  width: .45em;
  height: .5em;
  border-radius: .3em .12em 0 .2em;
  border: .1em solid transparent;
  border-width: 0 0 .35em 0;
  background-color: currentColor;
  box-shadow: 
    -.1em 0,
    -.3em -.35em;
  transform: rotate(-45deg);
  clip: rect(-.5em .5em .15em -.5em);
  left: .15em;
  top: .35em;
}
i.icss-gesture-keypad:after {
  width: .15em;
  height: .15em;
  border-radius: .05em;
  background-color: currentColor;
  box-shadow: -.4em 0, 
    0 -.2em,
    -.4em -.2em,
    -.2em -.2em;
  top: .02em;
  left: .2em;
}
