i.icss-glass-champagne {
    height: .3em;
    width: .55em;
    background-color: transparent;
    border: 0 solid currentColor;
    border-width: 0 .23em 0.068em;
    border-left-color:transparent;
    border-right-color: transparent;
    box-shadow: inset 0 1em, 0 .025em;
    margin: .7em .1em 0;
    transform: rotate(15deg);
}
i.icss-glass-champagne:before {
    height: .8em;
    width: .35em;
    background-color: transparent;
    border: .065em  solid currentColor;
    border-top: 0 solid transparent;
    border-radius: 0 0 60% 60% / 0 0 100% 100%;
    background-image: 
        linear-gradient(-15deg, transparent 0, transparent .35em,
           currentColor .35em, currentColor .42em, transparent .42em ),
        radial-gradient(circle at .07em .5em, 
            transparent 0, transparent .045em, currentColor .046em,
            currentColor .1em, transparent .1em),
        radial-gradient(circle at .19em .42em, 
            transparent 0, transparent .035em, currentColor .036em,
            currentColor .1em, transparent .1em),
        radial-gradient(circle at .13em .63em, 
            transparent 0, transparent .035em, currentColor .036em,
            currentColor .1em, transparent .1em)
        ;
    left:50%;
    top:-.7em;
    transform: translateX(-50%)
}
i.icss-glass-champagne:after {
    height: .1em;
    width: .1em;
    background-color: transparent;
    border-radius: 50%;
    top:-.65em;
    left: .03em;
    box-shadow: inset 0 -1em, -.04em .13em;
}