i.icss-glass {
    height: .7em;
    background-color: transparent;
    border-style: solid;
    border-width: .25em .25em 0.068em;
    border-left-color:transparent;
    border-right-color: transparent;
    border-radius: 0;
    margin: .3em .2em 0;
}
i.icss-glass:before {
    height: .6em;
    width: .6em;
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 0.068em 0.068em;
    transform: translateX(-50%) rotate(-45deg);
    left:50%;
    top:-.54em;
}
i.icss-glass:after {
    height: .35em;
    width: .126em;
    background-color: transparent;
    border-style: solid;
    border-width: .068em 0 0 .068em;
    border-radius: .2em;
    top:-.46em;
    left: .04em;
    box-shadow: -.1em .56em 0 -.03em;
}