i.icss-globe {
    width: 6em;
    height: 6em;
    margin: 1em 0.5em 3em 1.5em;
    border-radius: 100%;
    transform: rotate(-35deg);
    background-color:transparent;
    background-image: linear-gradient(currentcolor 0.4em, transparent 0.4em),
    linear-gradient(90deg, currentcolor 0.4em, transparent 0.4em);
    background-size: 1.5em, 6em;
    background-position:0 3.2em, 2.8em 0;
}
i.icss-globe:before {
    height: 6.3em;
    width: 3.5em;
    border-width: 0.4em;
    border-style: solid;
    border-radius: 100%;
    top: 0.1em;
    left: 1.25em;
    box-shadow: -0em 2.5em 0 -1.3em,
        -0em -2.5em 0 -1.3em;
}
i.icss-globe:after {
    width: 8em;
    height: 8em;
    border-width: 0.68em;
    border-style: solid;
    border-color: transparent;
    border-radius: 100%;
    background-color: transparent;
    transform: rotate(35deg);
    margin: 0 1em 2em;
    top: -0.8em;
    left: -2em;
    box-shadow: inset 0 0 0 0.68em,
        -0.5em 0.5em, -0.6em 0.3em,
        0 4.7em 0 -3.55em,
        0 9em;
    clip: rect(-2em 10em 10em -1em);
}
