i.icss-globe {
    width: .6em;
    height: .6em;
    margin: .1em .05em .3em .15em;
    border-radius: 100%;
    transform: rotate(-35deg);
    background-color:transparent;
    background-image: 
        linear-gradient(currentcolor .04em, transparent .041em),
        linear-gradient(90deg, currentcolor .04em, transparent .041em);
    background-size: .6em .18em, .6em .6em;
    background-position:0 .32em, .28em 0;
}
i.icss-globe:before {
    height: .63em;
    width: .35em;
    border-width: .04em;
    border-style: solid;
    border-radius: 100%;
    top: .01em;
    left: .125em;
    box-shadow: -0em .25em 0 -.13em,
        -0em -.25em 0 -.13em;
}
i.icss-globe:after {
    width: .8em;
    height: .8em;
    border-width: .068em;
    border-style: solid;
    border-color: transparent;
    border-radius: 100%;
    background-color: transparent;
    transform: rotate(35deg);
    margin: 0 .1em .2em;
    top: -.08em;
    left: -.2em;
    box-shadow: inset 0 0 0 .068em,
        -.05em .05em, -.06em .03em,
        0 .47em 0 -.355em,
        0 .9em;
    clip: rect(-.2em 1em 1em -.1em);
}
