i.icss-google-drive-c {
    width: .65em;
    height: .3em;
    box-shadow: inset .065em 0 0 1em #0057e7;
    transform: skewX(-30deg);
    margin: .65em .1em 0 0.26em;
}
.icss-stack i.icss-google-drive-c {
    transform: translate(-.5em, -.5em) skewX(-30deg);
}
i.icss-google-drive-c:before {
    width: .65em;
    height: .3em;
    box-shadow: inset .065em 0 0 1em #ffa700;
    transform: skewX(30deg) rotate(60deg) skewX(-30deg);
    top: -.43em;
    left: -.17em;
}
i.icss-google-drive-c:after {
    width: .65em;
    height: .3em;
    box-shadow: inset .065em 0 0 1em #008744;
    transform: skewX(30deg) rotate(-60deg) skewX(-30deg) ;
    top: -0.28em;
    left:-0.49em;
}
