i.icss-graduation-cap {
    width: .7em;
    height: .7em;
    background-color: transparent;
    border: .1em solid transparent;
    border-width: .095em 0;
    border-radius: 50%;
    box-shadow: inset 0 -.09em, -.448em .23em 0 -.27em;
    margin: .15em .12em .15em .18em;
}

i.icss-graduation-cap:before {
    width: .8em;
    height: .8em;
    border: .05em solid transparent;
    border-radius: .12em;
    box-shadow: inset 0 .8em, 
        .2em .2em 0 -.15em, 
        .25em .25em 0 -.15em;
    transform: translateX(-50%) scaleY(.5) rotate(45deg);
    top: -.26em;
    left: 50%;
}

i.icss-graduation-cap:after {
    width: .3em;
    height: .56em;
    border: .07em solid currentColor;
    border-width: .07em 0 0 .07em;
    border-radius: .4em 0 0 0 / .4em 0 0 0;
    background-color: transparent;
    top: .07em;
    left: -.13em;
}
