i.icss-grand-piano {
  width: 1em;
  height: .35em;
  border-radius: 0 0 .05em .05em; 
  background-color: transparent;
  box-shadow: inset 0 0 0 .065em;
  margin: .65em 0 0;
}
i.icss-grand-piano:before {
  width: .6em;
  height: 1em;
  background-color: currentColor;
  border-radius: .3em;
  box-shadow: -.4em .3em;
  clip: rect(0 1em .7em -.5em);
  top: -.65em;
  left: .4em
}
i.icss-grand-piano:after {
  width: .15em;
  height: .4em;
  border-radius: .1em;
  box-shadow: inset -.075em -.35em, 
    .25em .38em 0 -.04em,
    .4em .38em 0 -.04em,
    -.05em .38em 0 -.04em,
    -.2em .38em 0 -.04em,
    .1em .38em 0 -.04em;
  top: -.4em;
  left: .33em

}