i.icss-grenade {
  width: .65em;
  height: .8em;
  background-color: transparent;
  border-radius: 50%;
  border: .07em solid transparent;
  box-shadow: inset 0 -.55em 0 -.3em,
    inset 0 .35em 0 -.2em,
    .1em -.1em 0 -.05em;
  margin: .25em .175em -.05em;
}
i.icss-grenade:before {
  width: .3em;
  height: .3em;
  border-radius: 50%;
  box-shadow: 
    inset 0 0 0 .065em,
    -.225em .1em 0 -.05em;
  top: -.25em;
  left: .35em;
}
i.icss-grenade:after {
  width: .5em;
  height: .2em;
  border-radius: 50%;
  box-shadow: 
    inset .15em -.22em 0 .4em;
  transform: translateX(-50%);
  top: .15em;
  left: 50%;
}