i.icss-guitar {
    width: .5em;
    height: .5em;
    background-color: transparent;
    border-radius: 45% 55%;
    box-shadow: 
        inset 0 0 0 .16em, 
        .16em -.16em 0 -.025em; 
    margin: .5em .5em 0 0;
}
i.icss-guitar:before {
    width: .15em;
    height: .8em;
    border-radius: .02em;
    box-shadow: 
        inset 0 0 0 .065em;
    transform: rotate(45deg);
    top: -.57em;
    left: .6em;
}
i.icss-guitar:after {
    width: .25em;
    height: .05em;
    border-radius: .02em;
    box-shadow: inset 0 .2em, 0 .075em, 0 .15em;
    transform: rotate(45deg);
    top: -.4em;
    left: .75em;
}
