i.icss-guy-fawkes {
	width: .8em; 
	height: 1em; 
	border-radius: 50% 50% 50% 50% / 25% 25% 60% 60%;
    background-color: transparent;
    box-shadow: inset 0 0 0 .07em;
    background-image: 
        radial-gradient(ellipse .3em .13em at 68% 46%, 
       currentColor 0, currentColor .08em, transparent .08em),
        radial-gradient(ellipse .3em .13em at 32% 46%, 
        currentColor 0, currentColor .08em, transparent .08em);
    margin: 0 .1em;
    overflow: hidden;
}
i.icss-guy-fawkes:before {
    width: .32em;
    height: .5em;
    box-shadow: inset .06em .14em 0 -.101em,
        inset -.02em -.14em 0 -.091em,
        -.02em .42em 0 -.13em;
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    top: 48%;
    left: 68%;
    transform: translate(-50%, -50%) rotate(16deg);
}
i.icss-guy-fawkes:after {
    width: .32em;
    height: .5em;
    box-shadow: inset -.06em .14em 0 -.101em,
        inset .02em -.14em 0 -.091em,
        .02em .42em 0 -.13em;
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    top: 48%;
    left: 32%;
    transform: translate(-50%, -50%) rotate(-16deg) ;
}