i.icss-hawkeye {
	width: .75em; 
	height: 1em; 
	border-radius: 50% 50% 50% 45% / 35% 35% 60% 60%;
  background-color: transparent;
  box-shadow: 
    inset 0 0 0 .05em, 
    inset -.62em .05em 0 -.5em,
    inset .62em .05em 0 -.5em;
  background-image: 
    linear-gradient(
      transparent .34em, currentColor .34em, 
      currentColor .4em, transparent .4em
    ),
    radial-gradient(ellipse 110% 60% at 28% 50%, 
      transparent 12%, currentColor 12%,
      currentColor 23%, transparent 23%),
    radial-gradient(ellipse 110% 60% at 72% 50%, 
      transparent 12%, currentColor 12%,
      currentColor 23%, transparent 23%)
    ;
  margin: 0 .125em;
}
i.icss-hawkeye:before {
  border-style: solid;
  border-width: .1em .1em .065em;
  border-color: currentColor transparent transparent;
  box-shadow: 
    0 -.37em, 
    0 -.3em, 
    0 -.62em 0 -.02em,
    0 .05em;
  clip: rect(-.55em 1em .5em -.5em);
  transform: translateX(-50%);
  left: 50%;
  top: .6em;
}
i.icss-hawkeye:after {
  width: .95em;
  height: .5em;
  border-radius: 0 0 40% 40% / 0 0 100% 100%;
  transform: translateX(-50%);
  background-image: 
    radial-gradient(ellipse 83% 100% at 50% 0%, 
      transparent 60%, currentColor 60%,
      currentColor 85%, transparent 85%);
  box-shadow: 
    .02em 0,
    -.02em 0,
    0 .06em 0 .02em;
  left: 50%;
  top: .07em;  
}