i.icss-headlight {
  width: .55em;
  height: .7em;
  border-radius: .1em 100% 100% .1em / .1em 60% 60% .1em;
	background-color: transparent;
  border: .065em solid currentColor;
  margin: .15em 0 .15em .35em;
}
i.icss-headlight:before {
  width: .25em;
  height: .08em;
  background-color: currentColor;
  transform: translateY(-50%);
  box-shadow: 0 .2em, 0 -.2em;
  top: 50%;
  left: -.42em;
}
i.icss-headlight:after {
}