i.icss-home {
    width: .8em;
    height: .45em;
    background-color: transparent;
    border-width: 0;
    border-style: solid;
    border-radius: 0 0 .02em .02em;
    box-shadow: inset .285em .1em, inset -.285em .1em;
    margin: .55em .1em 0;
}
i.icss-home:before {
    border-width: 0 .4em .4em;
    border-style: solid;
    border-color: currentColor transparent;
    transform: translateX(-50%);
    box-shadow: 0 .1em;
    top: -.4em;
    left: 50%;
}
i.icss-home:after {
    width:.76em;
    height: .76em;
    border-width: 0.065em 0 0 0.065em;
    border-style: solid;
    transform: translateX(-50%) rotate(45deg);
    top: -0.4em;
    left: 50%;
}