i.icss-home {
    width: .36em;
    height: .43em;
    margin: .57em .71em 0 .13em;
    border-width: 0;
    border-style: solid;
    border-radius: 0 0 .05em .05em;
    box-shadow: 0.575em 0, 0.285em -0.28em 0 -0.06em, 
        0.55em -0.62em 0 -0.14em,
        0.6em -0.54em 0 -0.14em,
        0.6em -0.62em 0 -0.14em;
}
i.icss-home:before {
    border-width: 0 .47em .45em;
    border-style: solid;
    bottom: .425em;
    left: 0em;
    border-left-color: transparent;
    border-right-color: transparent;
}
i.icss-home:after {
    width:.85em;
    height: .85em;
    border-width: 0.065em 0 0 0.065em;
    border-style: solid;
    transform: rotate(45deg);
    top: -0.43em;
    left: 0.045em;
}