i.icss-image {
    width: 10em;
    height: 7.5em;
    background-color: transparent;
    border-width: 0.65em;
    border-style: solid;
    overflow: hidden;
    border-radius: 0.5em;
}
i.icss-image:before {
    border-style: solid;
    border-width: 3em;
    transform: rotate(45deg);
    box-shadow: 2.5em -4.5em;
    top: 4em;
    left: -1em;
}
i.icss-image:after {
    border-width: 0.8em;
    border-style: solid;
    left: 2em;
    top: 0.5em;
    border-radius: 100%;
}