i.icss-image {
    width: 1em;
    height: .75em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    overflow: hidden;
    border-radius: .05em;
    margin: .125em 0;
}
i.icss-image:before {
    border-style: solid;
    border-width: .3em;
    transform: rotate(45deg);
    box-shadow: .25em -.45em;
    top: .4em;
    left: -.1em;
}
i.icss-image:after {
    border-width: .08em;
    border-style: solid;
    left: .2em;
    top: .05em;
    border-radius: 100%;
}