i.icss-institution {
  width: .12em;
  height: .25em;
  background-color: transparent;
  box-shadow: .12em 0, -.12em 0,
    .36em 0, -.36em 0;
  margin: .51em .43em .24em;
}
i.icss-institution:before {
  width: 1em;
  height: .3em;
  background-color: transparent;
  border-style: solid;
  border-width: 0 .5em .28em;
  border-color: currentColor transparent;
  box-shadow: 0 .1em, 
    0 .86em, 
    0 .76em 0 -.03em;
  clip: rect(0 1em .97em 0);
  transform: translateX(-50%);
  top: -.48em;
  left: 50%;
}
i.icss-institution:after {
  width: .17em;
  height: .08em;
  background: currentColor;
  box-shadow: 
    .245em 0, -.24em 0, -.475em 0,
    0 .25em,
    .245em .25em, -.24em .25em, -.475em .25em;
  left: .09em;
  top: -.045em;
}