i.icss-instagram-c {
    width: 1em;
    height: 1em;
    background-image: 
        linear-gradient(353deg, rgba(255,255,255,0) 0, rgba(244,48,109,0) 34%, #F4306D 44%, #D53592 63%, #4258F5 100%), 
        radial-gradient(circle farthest-corner at 28% 142%, rgba(255,104,177,0.1) 0, #FFFFFF 9%, #FBE18A 32%, #FBBB45 37%, #F88330 43%, #F86737 52%, #F8443E 57%, #F4306D 70%, #D53592 85%, #4258F5 100%), 
        linear-gradient(108deg, rgba(255,255,255,0.49) 0, rgba(255,255,255,0.49) 57%, #F4306D 82%, #D53592 100%), 
        linear-gradient(318deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 1%, #903ACD 49%, #903ACD 77%, rgba(144,58,205,0) 100%)
        ;
}
i.icss-instagram-c:before {
    width: .9em;
    height: .9em;
    border-radius: .25em;
    border: .08em solid #fff;
    background-color: transparent;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
i.icss-instagram-c:after {
    width: .5em;
    height: .5em;
    border-radius: 50%;
    border: .08em solid #fff;
    background-color: transparent;
    box-shadow: .25em -.25em 0 -.2em #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}