i.icss-italian-coffee-maker {
  width: .73em;
  height: .5em;
  background-color: transparent;
  border-style: solid;
  border-color: currentColor currentColor transparent transparent;
  border-width: .15em .075em 0 .12em;
  box-shadow: 0 -.03em;
  border-radius: 0 .1em 0 0;
  margin: .23em .1em .27em .17em;
}
i.icss-italian-coffee-maker:before {
  width: .58em;
  height: .85em;
  background-color: transparent;
  border-style: solid;
  border-color: currentColor transparent;
  border-width: .35em .12em .4em;
  border-radius: .1em .1em 0 0 / .15em;
  box-shadow: inset 0 .2em;
  top: -.23em;
  left: -.05em;
}
i.icss-italian-coffee-maker:after {
  width: .15em;
  height: .15em;
  border-radius: 50%;
  background-color: currentColor;
  top: -.38em;
  left: .17em;
}