i.icss-jaws {
  width: .8em; 
  height: .55em; 
  background-color: transparent;
  box-shadow: inset 0 0 0 .14em;
  border-radius: 50% /60%;
  margin: .25em .1em .2em .1em;
}
i.icss-jaws:before {
  width: .4em; 
  height: .4em; 
  background-color: currentColor;
  transform: translateX(-50%) scaleX(.5) rotate(-45deg);
  box-shadow: 
    -.25em -.05em 0 -.12em,
    .05em .25em 0 -.12em,
    .17em .41em 0 -.12em,
    -.41em -.17em 0 -.12em,
    -.23em .38em 0 -.12em,
    -.38em .23em 0 -.12em,
    -.52em .06em 0 -.12em,
    -.06em .52em 0 -.12em;
  left: 50%;
  top: -.19em;
}
i.icss-jaws:after {
  width: .9em; 
  height: .9em; 
  background-color: transparent;
  border-radius: 50% 50%;
  border: .2em solid transparent;
  border-width: .27em .23em;
  box-shadow: inset 0 .15em currentColor,
    .34em -.24em 0 -.3em,
    -.34em -.24em 0 -.3em,
    .25em -.66em 0 -.4em,
    -.25em -.66em 0 -.4em;
  top: .24em;
  left: 50%;
  transform: translateX(-50%);
}