i.icss-kettle {
  width: .8em;
  height: .8em;
  background-color: transparent;
  border-radius: 50% 50% .1em .1em;
  box-shadow: inset 0 0 0 .065em, 
    inset 0 2.25em 0 -2em, 
    inset 0 -.35em, 
    0 -.43em 0 -.33em;
  border-bottom: .15em solid transparent;
  margin: .35em 0 -.15em .2em;
}

i.icss-kettle:before {
  width: .6em;
  height: .6em;
  border-radius: 50%;
  border: .065em solid currentColor;
  border-bottom-color: transparent; 
  transform: translateX(-50%);
  top: -.35em;
  left: 50%;
}
i.icss-kettle:after {
  width: .2em;
  height: .25em;
  border: .07em solid transparent;
  border-right: .3em solid currentColor;
  transform: rotate(35deg);
  left: -.26em;
  top: .14em;
}