i.icss-kilo-ren-saber {
    width: 1em;
    height: 1em;
    background-color: transparent;
    margin: 0;
  }
  i.icss-kilo-ren-saber:before {
    width: .9em;
    height: .1em;
    border-radius: 0 .1em .1em 0;
    transform: translate(-50%, -50%) rotate(-45deg) translateX(.19em);
    box-shadow: 
      inset 0 0 .02em .03em,
      0 0 .04em,
      -.8em 0 0 -.005em;
    clip: rect(-.1em 1em 1em -.3em);
    top: 50%;
    left: 50%;
  }
  i.icss-kilo-ren-saber:after {
    width: .08em;
    height: .2em;
    border-radius: .02em;
    background-color: currentColor;
    box-shadow: 
      0 .18em .02em -.025em,
      0 -.18em .02em -.025em,
      -.32em 0 0 -.02em;
    transform: translate(-50%,-50%) rotate(-45deg) translateX(-.25em);
    top: 50%;
    left: 50%;
  }