i.icss-kiss {
  width: .68em;
  height: .32em;
  background-color: transparent; 
  border-radius: 50% 50% / 50%;
  box-shadow: inset 0 -.36em 0 -0.2em;
  margin: .2em .0em .05em .06em;
  transform: rotate(-20deg);
}
i.icss-kiss:before {
  width: .41em;
  height: .25em;
  background-color: transparent; 
  border-radius: 50% 50% 0.03em .03em / 50%;
  box-shadow: inset .1em .13em 0 0.01em;
  top: -.12em;
  left: .31em;
  transform: rotate(35deg);
}
i.icss-kiss:after {
  width: .41em;
  height: .25em;
  background-color: transparent; 
  border-radius: 50% 50% .03em .03em / 50%;
  box-shadow: inset -.1em .13em 0 0.01em;
  top: -.12em;
  left: -.04em;
  transform: rotate(-35deg);
}