i.icss-lamp {
    width: 6em;
    border-style: solid;
    border-color: transparent transparent currentColor;
    background-color: transparent;
    border-width: 0 1em 4.5em;
    border-radius: 1.5em 1.5em 0.3em 0.3em;
    margin: 0em 0em 3.6em;
}
i.icss-lamp:before {
    width: 3em;
    height: 3em;
    border-width: 0;
    background-color: currentColor;
    border-radius: 100%;
    top: 4.6em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3.5em 0 0.8em, 2em -0.5em 0 -1.15em;
    clip: rect(-1em 5em 3.3em -1em)
}

i.icss-lamp:after {
    width:0.65em;
    height: 1.5em;
    background-color: currentColor;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2em 0em 0 -0.15em;

}