i.icss-lamp {
    width: .65em;
    border-style: solid;
    border-color: transparent transparent currentColor;
    background-color: transparent;
    border-width: 0 .1em .5em;
    border-radius: .15em .15em .03em .03em;
    margin: .05em .2em .41em;
}
i.icss-lamp:before {
    width: .35em;
    height: .35em;
    border-width: 0;
    background-color: currentColor;
    border-radius: 100%;
    top: .54em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 .37em 0 .08em, .2em -.13em 0 -.13em;
    clip: rect(-.1em .5em .37em -.1em);
}
i.icss-lamp:after {
    width: .065em;
    height: .15em;
    background-color: currentColor;
    top: .45em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: .2em 0em 0 -.015em;

}