i.icss-laptop {
  width: .7em;
  height: .5em;
  background-color: transparent;
  border-radius: .05em;
  box-shadow: inset 0 0 0  .065em;
  margin: .15em .15em .35em;
}
i.icss-laptop:before {
  width: .8em;
  height: .25em;
  border-radius: .05em;
  box-shadow: inset 0 0 0 .065em,
    inset .25em .09em 0 .05em,
    inset -.25em .09em 0 .05em;
  transform: translateX(-50%) perspective(.1em) rotateX(10deg);
  top: .5em;
  left: 50%;
}
