i.icss-lightsaber-blue {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
i.icss-lightsaber-blue:before {
  width: .9em;
  height: .08em;
  border-radius: 0 .1em .1em 0;
  transform: translate(-50%, -50%) rotate(-45deg) translateX(.19em);
  background-color: #fff;
  box-shadow: 
    inset 0 0 .02em .02em #0cf,
    0 0 .04em #0cf;
  top: 50%;
  left: 50%;
}
i.icss-lightsaber-blue:after {
  width: .5em;
  height: .2em;
  border: 0 solid transparent;
  border-width: .2em .1em 0;
  border-left-color: #333;
  box-shadow: -.03em 0 0 -.005em #333, 
    -.4em -.04em 0 -.08em #333,
    -.1em 0 0 -.04em #666,
    -.4em .04em 0 -.08em #999,
    -.7em 0 0 -.06em #333,
    -.6em 0 0 -.06em #666,
    -.2em 0 0 -.04em #aaa;
  transform: translate(-50%,-50%) rotate(-45deg) translateX(-.02em);
  clip: rect(0 1em 1em -.36em);
  top: 50%;
  left: 50%;
}