i.icss-lightbulb {
    width: .35em;
    height: .1em;
    border-radius: .1em;
    margin: .7em .325em .2em;
    box-shadow: 0 .13em, 
        0 .19em 0 -.03em,
        0 .22em 0 -0.035em;
}
i.icss-lightbulb:before {
    width: .65em;
    height: .65em;
    border-width: 0.068em;
    border-style: solid;
    border-radius: 100% 100% 100% .2em;
    background-color: transparent;
    left:50%;
    transform: translateX(-50%) rotate(-45deg);
    bottom: .11em;

}
i.icss-lightbulb:after {
    width: .25em;
    height: .2em;
    border-radius: 100%;
    box-shadow: inset -0.05em 0.05em;
    left: .1em;
    top: -.5em;
}
