i.icss-lunch {
   width: .75em;
   height: .75em;
   border-radius: 50%;
   background: transparent;
   box-shadow: inset 0 0 0 .13em;
   margin: .15em .15em .1em .23em;
}
.icss-stack i.icss-lunch {
    transform: translate(-.6em, -.5em);
}
i.icss-lunch:before {
   width: .1em;
   height: .45em;
   background-color: currentColor;
   top: .025em;
   left: .8em;
   border-radius: .1em 0 .04em .04em;
   box-shadow: 
      .02em .28em 0  -.02em, 
      -.975em .28em 0  -.02em,
      -.975em .2em 0  -.02em;
}  
i.icss-lunch:after {
   width: .11em;
   height: .23em;
   border: .05em solid transparent;
   border-width: 0 .035em;
   border-radius: 0 0 .03em .03em;
   box-shadow: inset 1em 0, 
      .025em .025em 0 .025em,
      -.025em .025em 0 .025em;
   top: .025em;
   left: -.18em
   
}