i.icss-magic-hat {
  width: .3em;
  height: .6em;
  background-color: transparent;
  border: 0 solid transparent;
  border-bottom: .5em solid currentColor;
  border-width: 0 .2em .75em;
  border-radius: 50% / .1em;
  margin: 0 .35em .25em .35em;
}
i.icss-magic-hat:before {
  width: .9em;
  height: .4em;
  border-radius: 50%;
  border: .065em solid currentColor;
  border-width: 0 .245em .1em;
  box-shadow: inset 0 -.05em;
  transform: translate(-50%);
  top: .6em;
  left: 50%;
}
i.icss-magic-hat:after {
  width: .2em;
  height: .2em;
  background-color: transparent;
  border: .07em solid currentColor;
  transform: translateX(-50%);
  top: .7em;
  left: 50%;
}
