i.icss-magic-hat {
  width: 1em;
  height: 1em;
  background-color: transparent;
  border-radius: 45% 45% 0 0;
  background-image: radial-gradient(ellipse 90% 100%  at 50% 44%,
    currentColor .14em, transparent .14em);
  margin: 0;
  overflow: hidden;
}
i.icss-magic-hat:before {
  width: .65em;
  height: .65em;
  border: 0 solid currentColor;
  border-width: 0 .17em .17em 0;
  border-radius: .1em;
  transform: translateX(-50%) scaleX(.6) rotate(45deg);
  top: -.23em;
  left: 50%;
}
i.icss-magic-hat:after {
  width: .45em;
  height: .4em;
  background-color: transparent;
  border: .05em solid transparent;
  border-bottom: .38em solid currentColor;
  border-radius: 0 0 .05em .05em;
  border-top: 0;
  box-shadow: .12em -.35em 0 -.05em,
    -.12em -.35em 0 -.05em;
  transform: translateX(-50%);
  clip: rect(-.08em 1em 1em -.05em);
  top: .6em;
  left: 50%;
 
}