i.icss-man-woman {
  width: .45em;
  height: .5em;
  border-radius: 50% 50% 0 0 / .12em .12em 0 0;
  margin: .28em .55em .23em .05em;
  background-color: transparent;
  border: .1em solid transparent;
  border-width: 0 .1em;
  border-bottom: .3em solid currentColor;
  box-shadow: inset 0 1em;
}
i.icss-man-woman:before {
  width: .2em;
  height: .2em;
  border-radius: .1em;
  background-color: currentColor;
  top: -.22em;
  left: .025em;
  box-shadow: .425em 0;
}
i.icss-man-woman:after {
  width: .4em;
  height: .73em;
  border: .1em solid transparent;
  border-radius: .1em .1em 0 0;
  border-width: 0 .12em;
  border-top: .4em solid currentColor;
  box-shadow: inset .5em 0, -.42em .12em 0 -.12em;
  left: .35em;
  top: 0;
}