i.icss-man-heart {
  width: .4em;
  height: .45em;
  background-color: transparent;
  border-radius: .18em .18em 0 0;
  border-top: .1em solid transparent;
  box-shadow: 
    inset .265em 0 0 -.1em,
    inset -.265em 0 0 -.1em,
    0 .25em 0 -.09em,
    0 .4em 0 -.09em;
  margin: .23em .5em .32em .1em;
}
i.icss-man-heart:before {
  width: .44em;
  height: .44em;
  background-color: transparent;
  border: .22em solid transparent;
  border-top-color: currentColor;
  box-shadow: 
    -.075em -.245em 0 -.1em,
    .075em -.245em 0 -.1em,
    -.47em -.3em 0 -.1em;
  border-radius: 50%;
  top: -.05em;
  left: .45em;
}
i.icss-man-heart:after {
}