i.icss-map-marker {
  width: 1em;
  height: 1em;
	background-color: transparent;
}

i.icss-map-marker:before {
	width: .68em;
	height: .68em;
	border-radius: 50%;
	border: 0.185em solid currentColor;
	top: .04em;
	left: 50%;
	transform: translateX(-50%);
}
i.icss-map-marker:after {
	width: .6em;
	height: .6em;
	border-radius: 50% 100% 50% 10%;
	background: transparent;
	box-shadow: inset .01em -.01em 0 .13em;
	top: .1em;
	left: 50%;
	transform: scaleY(1.4) translateX(-50%) rotate(-45deg);
}