i.icss-menus{
    margin: .41em  .2em;
}
i.icss-menus,
i.icss-menus:before,
i.icss-menus:after {
    width: .18em;
    height: .18em;
    border-radius: .06em;
    background-color: currentColor;
}

i.icss-menus:before {
    left: 0;
    top: -0.36em;
}
i.icss-menus:after{
    left: 0;
    top: 0.36em;
}