i.icss-microscope {
  width:.35em;
  height: .08em;
  border-radius: .03em;
  background-color: currentColor;
  margin: .7em .5em .22em .2em;
}
i.icss-microscope:before {
  width: .65em;
  height: .63em;
  border-radius: 50%;
  box-shadow: inset -.15em 0,
    inset -.15em -.05em,
    inset -.1em -.1em,
    .03em -.00em 0 .0em,
    0 .33em 0 -.25em,
    -.005em .57em 0 -.07em;
  clip: rect(0 1em .75em 0em);
  top: -.45em;
  left: .03em
}
i.icss-microscope:after {
  width: .2em;
  height: .4em;
  border-radius: .05em;
  background-color: transparent;
  border: 0 solid transparent;
  border-width: .05em 0;
  box-shadow: inset 1em 0, 
    0 .1em 0 -.03em,
    0 -.18em 0 -.04em;
  transform: rotate(25deg);
  top: -.58em;
  left: .23em;
}

