i.icss-microchip {
    height: .87em;
    width: .5em;
    background-color: transparent;
    border: .065em solid transparent;
    border-width: .03em .065em;
    box-shadow: 
        inset .5em 0,
        0 0 0 .065em;
    border-radius: .02em;
    margin: .065em .25em;
}
i.icss-microchip:before {
    width: .15em;
    height: .05em;
    border-radius: .02em;
    box-shadow: 
        -.35em -.1em, .35em -.1em, 
        -.35em -.3em, .35em -.3em, 
        -.35em .1em, .35em .1em, 
        -.35em .3em, .35em .3em;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
i.icss-microchip:after {
    width: .12em;
    height: .11em;
    border-radius: .03em;
    box-shadow: 
        -.31em -.1em, .31em -.1em, 
        -.31em -.3em, .31em -.3em, 
        -.31em .1em, .31em .1em, 
        -.31em .3em, .31em .3em;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}