i.icss-milk-carton {
  width: .4em;
  height: .8em;
  background-color: transparent;
  border-top: .2em solid transparent;
  border-radius: .03em .03em 0 .03em;
  box-shadow: inset 0 0 0 .065em, .07em -.08em;
  margin: .09em .15em 0 0;
}
i.icss-milk-carton:before {
  width: .4em;
  height: .2em;
  border: .065em solid currentColor;
  border-bottom: 0;
  transform: skewX(-20deg);
  transform-origin: 0 100%;
  top: -.2em;
  left: 0;
}
i.icss-milk-carton:after {
  width: .1em;
  height: .6em;
  border: .08em solid transparent;
  border-radius: .03em;
  border-bottom: .2em solid currentColor;
  box-shadow: 0 .575em;
  transform: skewY(-20deg);
  top: -.6em;
  left: .39em;
}