i.icss-minus {
    width: 1em;
    height: 1em;
    background-color: transparent;
    margin: 0;
}
i.icss-minus:before,
i.icss-minus:after {
    width: 1em;
    height: .18em;
    top: 50%;
    left: 50%;
    border-radius: .06em;
    background-color: currentColor;
}
i.icss-minus:before {
    transform: translate(-50%, -50%) rotate(-180deg)
}
i.icss-minus:after{
    transform: translate(-50%, -50%) rotate(0deg)
}