i.icss-mirror {
  width: .4em;
  height: .8em;
  border-radius: .2em;
  box-shadow: inset 0 0 0 .065em;
  background-image: linear-gradient(-50deg,
    transparent 35%, currentColor 35%,
    currentColor 50%, transparent 50%,
    transparent 55%, currentColor 55%,
    currentColor 60%, transparent 60%
  );
  background-color: transparent;
  margin: 0 .3em .2em;
}
i.icss-mirror:before {
  width: .64em;
  height: .92em;
  border-radius: .3em;
  box-shadow: inset 0 0 0 .065em, 0 .85em 0 -.05em;
  transform: translateX(-50%);
  clip: rect(.39em 1em 1em 0);
  top: 0;
  left: 50%;
}
i.icss-mirror:after {
  width: .1em;
  height: .1em;
  border-radius: 50%;
  box-shadow: .23em 0, -.23em 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}