i.icss-mobile {
    background-color: transparent;
    width: 6em;
    height: 10em;
    border-style: solid;
    border-width: 0.65em;
    border-radius: 0.5em;
}
i.icss-mobile:before {
    width: 6em;
    height: 2em;
    border-style: solid;
    border-width: 0.8em 2em;
    border-radius: 0.5em;
    top: -0.5em;
    left: -0.6em;
}
i.icss-mobile:after {
    width: 6em;
    height: 1.5em;
    border-style: solid;
    border-width: 0.5em 2.7em;
    border-radius: 0.5em;
    top: 8em;
    left: -0.6em;
}