i.icss-mobile {
    background-color: transparent;
    width: .6em;
    height: 1em;
    border-style: solid;
    border-width: .065em;
    border-radius: .05em;
    margin: 0 .2em;
}
i.icss-mobile:before {
    width: .6em;
    height: .2em;
    border-style: solid;
    border-width: .08em .2em;
    border-radius: .05em;
    top: -.05em;
    left: -.06em;
}
i.icss-mobile:after {
    width: .6em;
    height: .15em;
    border-style: solid;
    border-width: .05em .27em;
    border-radius: .05em;
    top: .8em;
    left: -.06em;
}