i.icss-money {
    width: 1em;
    height: .7em;
    background-color: transparent;
    border-radius: .02em;
    box-shadow: inset 0 0 0 .065em;
    margin: .15em 0;
    overflow: hidden;
}

i.icss-money:before {
    width: .43em;
    height: .5em;
    line-height: 1.2em;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    border: .065em solid currentColor;
    box-shadow: .46em .4em, 
        -.46em .4em,
        .46em -.4em,
        -.46em -.4em;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

i.icss-money:after {
    width: 0.14em;
    height: .13em;
    border: .07em solid currentColor;
    border-width: 0 .04em;
    border-color: transparent;
    box-shadow: inset -.1em 0, 0 .055em, -.018em -.07em 0 -.02em;
    transform: translateY(-50%);
    top: 50%;
    left: .435em;
}
