i.icss-motorcycle {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%; 
  background-color: transparent; 
  box-shadow: inset 0 0 0 0.065em, -0.04em -0.05em 0 -0.02em;
  border: 0.05em solid transparent;
  margin: 0.45em 0 0 .55em;
}
i.icss-motorcycle:before {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%; 
  box-shadow: inset 0 0 0 0.065em, 
    0.53em -0.3em 0 -0.18em,
    0.02em -0.06em 0 -0.02em;
  border: 0.05em solid transparent;
  top: -0.05em;
  left: -0.55em;
  clip: rect(-0.2em 0.8em 0.6em 0);
}
i.icss-motorcycle:after {
  width: 0.38em;
  height: 0.285em;
  transform: skewX(30deg);
  left: -0.22em;
  top: -0.06em;
  border-radius: 0.03em;
  border: 0.065em solid currentColor;
  border-top-width: 0.15em;
  box-shadow: .26em -0.21em 0 -0.115em, 
    -.3em 0.07em 0 -0.115em,
    -.26em 0.12em 0 -0.115em;
}