i.icss-mouse {
  width: .55em;
  height: .75em;
  box-shadow: 
    inset 0 -.18em 0 .24em,
    inset .04em -.06em 0 .2em,
    inset -.04em -.06em 0 .2em,
    0 -.26em 0 -.205em 
    ;
  border-radius: .25em .25em .3em .3em;
  background-color: transparent;
  margin: .25em .45em 0 0;
}
i.icss-mouse:before {
  width: .45em;
  height: .3em;
  border-radius: 50% 50% 0 0 / 80% 100% 0 0;
  border: 0 solid currentColor;
  border-width: .08em .08em 0;
  top: -.25em;
  left: .225em;
}
i.icss-mouse:after {
  width: .4em;
  height: .3em;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  border: 0 solid currentColor;
  border-width: 0 .08em .08em;
  top: .045em;
  left: .598em;
}