i.icss-package {
  width: .7em;
  height: .55em;
  box-shadow: inset .3em .33em, inset -.14em -.12em;
  background-color: transparent;
  margin: .4em .15em .05em;
}
i.icss-package:before {
  width: .7em;
  height: .35em;
  transform: translateX(-50%) perspective(.1em) rotateX(10deg);
  transform-origin: 50% 100%;
  box-shadow: inset .3em 0, inset -.3em 0;
  top: -.4em;
  left: 50%;
}
