i.icss-package {
  width: .7em;
  height: .55em;
  box-shadow: 
    inset .15em .2em 0 .12em, 
    inset -.14em -.12em;
  background-color: transparent;
  margin: .4em .15em .05em;
}
i.icss-package:before {
  width: .7em;
  height: .35em;
  transform: translateX(-50%) perspective(.1em) rotateX(10deg);
  transform-origin: 50% 100%;
  border: 0 solid currentColor;
  border-width: 0 .3em;
  top: -.4em;
  left: 50%;
}
