i.icss-paint-tube {
  width: .31em;
  height: .7em;
  border-radius: 0.01em 0.01em 0 0;
  border: 0 solid transparent;
  border-width: .15em 0 .33em;
  background: transparent;
  box-shadow: inset 0 0 0 1em,
    0 0 0 .07em,
    0 -0.2em 0 -0.07em;
  margin: .22em .34em .08em;
  transform: rotate(20deg);
}
.icss-stack i.icss-paint-tube {
    transform: translate(-.5em, -.5em) rotate(20deg);
}
i.icss-paint-tube:before {
  width: .56em;
  height: .12em;
  background: currentColor;
  border-radius: 0.02em;
  left: 50%;
  top: 0.52em;
  transform: translateX(-50%);
}
i.icss-paint-tube:after {
  width: .25em;
  height: .12em;
  background: currentColor;
  border-radius: 0.02em;
  left: 50%;
  top: -0.38em;
  transform: translateX(-50%);
}