i.icss-paint-bucket {
  width: .65em;
  height: .77em;
  border-radius: 0 0.05em 0.12em 0.12em;
  border: 0.065em solid currentColor;
  background-color: transparent;
  transform: rotate(40deg)perspective(1em) rotateX(-12deg) ;
  margin: .18em .25em .05em .1em;
}
.icss-stack i.icss-paint-bucket {
    transform: translate(-.5em, -.5em) rotate(40deg)perspective(1em) rotateX(-12deg);
}
i.icss-paint-bucket:before {
  width: .6em;
  height: .3em;
  border-radius: 60% 0 60% 42% / 60% 0 80% 40%;
  border-width: .005em 0.06em .07em .08em;
  border-style: solid;
  border-color: transparent transparent currentColor currentColor ;
  transform: rotate(-25deg);
  top: .03em;
  left: -0.23em;
}
i.icss-paint-bucket:after {
  width: .12em;
  height: .12em;
  border-radius: 100%;
  background-color: currentColor;
  top: 0.08em;
  left: 0.2em;
  box-shadow: 
    -0.32em -.065em 0 -.025em transparent,
    -0.34em -.05em 0 -.028em transparent,
    0.255em -.18em 0 0.05em,
    0.14em -.17em 0 0.02em,
    0.44em -.03em 0 -.03em,
    0.47em .01em 0 -.015em,
    0.5em .044em
    ;
}