i.icss-paperclip {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
i.icss-paperclip:before {
  width: .35em;
  height: 1em;
  border-radius: .17em;
  border:.07em solid transparent;
  box-shadow: inset 0 0 0 .07em, 
    0 0 0 .07em;
  transform: translate(-50%, -50%) rotate(45deg);
  clip: rect(-.1em 1em .75em -.1em);
  top: 53%;
  left: 53%;
}
i.icss-paperclip:after {
  width: .21em;
  height: 1.1em;
  border-radius: .2em;
  border:.07em solid transparent;
  box-shadow: 0 0 0 .07em;
  transform: translate(-50%, -50%) rotate(45deg) translateX(-.07em);
  clip: rect(.5em 1em 1.5em -.1em);
  top: 53%;
  left: 53%;
}

