i.icss-pen-list {
    width: .74em;
    height: .9em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    border-radius: .05em;
    box-shadow: 0 -.36em 0 -.27em;
    margin: .1em .21em 0 0;
}
i.icss-pen-list:before {
    width: .4em;
    height: .22em;
    border-width: 0 0.05em;
    border-radius: .03em;
    box-shadow: inset 0 .3em,
        -.08em .25em 0 -.078em,
        -.08em .4em 0 -.078em;
    top: -.1em;
    left: 50%;
    transform: translateX(-50%);     
}
i.icss-pen-list:after {
  width: .2em;
  height: .55em;
  border: .1em solid transparent;
  border-top: .2em solid currentColor; 
  transform: rotate(45deg) translate(-50%);
  transform-origin: 0 0;
  box-shadow: 0 -.6em, 0 -1.2em;
  clip: rect(-.75em 1em 1em 0);
  left: .32em;
  top: .6em;

}