i.icss-pen {
  width: .5em;
  height: 0.2em;
  background-color: transparent;
  margin: .4em .28em .35em .19em;
  transform: rotate(-45deg);
  border-radius: 0 .05em .05em 0;
  box-shadow: 
    inset .4em .02em 0 1em,
    .4em .02em, .4em -.02em, .48em 0em 0 -0.03em;
}
.icss-stack i.icss-pen {
    transform: translate(-.5em, -.5em) rotate(-45deg);
}
i.icss-pen:before {
  width: .28em;
  height: .28em;
  top: -.045em;
  left: -.3em;
  border-radius: 0 50% 50% 50%;
  border: .1em solid currentColor;
  transform: rotate(-45deg);
}
i.icss-pen:after {
  width: .5em;
  height: .3em;
  top: -.12em;
  left: .35em;
  border: .07em solid currentColor;
  border-left: 0;
  border-radius: 0 .05em .05em 0;
}

