i.icss-pet-bottle {
  width: .35em;
  height: .18em;
  background-color: transparent;
  border:.1em solid transparent;
  border-width: .03em .12em;
  border-bottom: .12em solid currentColor;
  box-shadow: inset .5em 0, 0 .05em;
  margin: .09em 0 .68em;
}
i.icss-pet-bottle:before {
  width: .35em;
  height: .1em;
  border-radius: .05em;
  box-shadow: inset 0 .2em, 0 .13em , 0 .26em;
  top: .14em;
  left: 50%;
  transform: translateX(-50%);
}
i.icss-pet-bottle:after {
  width: .35em;
  height: .3em;
  border-radius: .05em;
  box-shadow: inset 0 .3em, 0 -.75em 0 -.11em;
  top: .53em;
  left: 50%;
  transform: translateX(-50%);
}
