i.icss-phone-book {
  width: .75em;
  height: 1em;
  background-color: transparent;
  border-radius: .05em;
  box-shadow: inset 0 0 0 .065em;
  margin: 0 .15em 0 .1em;
}
i.icss-phone-book:before {
    width: .32em;
    height: .6em;
    background-color: transparent;
    border-width: .18em .12em;
    border-style: solid;
    border-color: currentColor;
    border-radius: .3em / .6em .2em .2em .6em;
    border-right-color: transparent;
    transform: translate(-50%, -50%) rotate(-30deg);
    top: 50%;
    left: 50%;
}
i.icss-phone-book:after {
  width: .1em;
  height: .2em;
  margin: 0 .1em;
  border-radius: 0 .05em .05em 0;
  top: .1em;
  left: .68em;
  background-color: currentColor;
  box-shadow:
    -.84em .05em,
    -.84em .55em,
    -.04em 0, 
    0 .25em, 
    0 .5em;
}