i.icss-pig {
  width: .8em;
  height: .6em;
  border-radius: 50%; 
  background-color: transparent;
  box-shadow: inset .5em -.2em;
  margin: .2em .1em .2em;
}
i.icss-pig:before {
  width: .55em;
  height: .55em;
  border-radius: 50%;
  border: .16em solid currentColor;
  border-top-color: transparent;
  box-shadow: inset 0 0 0 .09em, .03em .03em;
  transform: rotate(50deg);
  top: -.1em;
  left: .35em;
}
i.icss-pig:after {
  width: .2em;
  height: .25em;
  border-radius: 50% 50% 40% 40%;
  box-shadow: inset .04em -.02em 0 .05em,
    .3em .36em 0,
    .6em .36em 0;
  top: .1em;
  left: -.15em;
}