i.icss-pineapple {
    height: .75em;
    width: .6em;
    background: transparent;
    border-radius: .25em .25em .25em .25em/ .3em .3em .4em .4em;
    border: 0 solid transparent;
    background-image: 
        linear-gradient(45deg, currentColor 15%, 
            transparent 15%, transparent 50%, 
            currentColor 50%, currentColor 65%, 
            transparent 65%, transparent),
        linear-gradient(-45deg, currentColor 15%, 
            transparent 15%, transparent 50%, 
            currentColor 50%, currentColor 65%, 
            transparent 65%, transparent);
    background-size: .2em .2em;
    box-shadow:inset 0 0 0 .065em, 0 .24em 0 -.22em;
    margin: .23em .2em .02em;
}
i.icss-pineapple:before {
    border: .1em solid currentColor;
    border-top: .215em solid transparent;
    border-bottom: 0 solid transparent;
    box-shadow: 0 .05em;
    transform: skewX(15deg);
    clip: rect(.05em .2em .3em 0);
    top: -.27em;
    left: .1em;
}
i.icss-pineapple:after {
    border: .1em solid currentColor;
    border-top: .215em solid transparent;
    border-bottom: 0 solid transparent;
    box-shadow: 0 .05em;
    transform: skewX(-15deg);
    clip: rect(.05em .2em .3em 0);
    top: -.27em;
    left: .32em;
}