i.icss-pipette {
    width:1em;
    height:1em;
    background-color: transparent;
}
i.icss-pipette:before {
    width: 1.1em;
    height: .35em;
    border-width: .075em;
    border-style: solid;
    border-right: none;
    border-color: transparent;
    box-shadow: inset -.3em 0 0 .05em, inset 0 0 0 .063em;
    border-radius: 50% .15em .15em 50%;
    background-color: transparent;
    left: -.05em;
    top: .4em;
    transform: rotate(-45deg);
}
i.icss-pipette:after {
    height: .35em;
    border-width: .06em;
    border-style: solid;
    border-radius: .1em;
    top: .25em;
    left: .6em;
    transform: rotate(-45deg);
}
