i.icss-pipette {
    width: 1em;
    height: .35em;
    border-width: .075em;
    border-style: solid;
    border-right: none;
    border-color: transparent;
    box-shadow: -.225em 0 0 .05em inset,0 0 0 .063em inset;
    border-radius: 50% .15em .15em 50%;
    transform: rotate(-45deg);
    margin: -.2em -.1em .2em -.2em;
    background-color: transparent;
}
i.icss-pipette:before {
    height: .35em;
    right: .25em;
    top: -.07em;
    border-width: .06em;
    border-style: solid;
    border-radius: .1em;
}
