i.icss-pitcher {
  width: .6em;
  height: .8em;
  border-radius: 0 0 .05em .05em;
  background-color: transparent;
  border: 0 solid transparent;
  border-top-width: .07em;
  box-shadow: inset 0 -.3em 0 .065em, 0 -.08em;
  margin: .2em .2em 0;
}
i.icss-pitcher:before {
  width: .2em;
  height: .5em;
  border-radius: 0 .05em .05em 0;
  border: .07em solid currentColor;
  top: 0;
  left: .54em;
}
i.icss-pitcher:after {
  width: .3em;
  height: .3em;
  border: .2em solid transparent;
  border-bottom-color: currentColor;
  border-radius: 50%;
  transform: rotate(45deg);
  box-shadow: .06em -.33em 0 -.12em;
  left: -.15em;
  top: -.2em;
}