i.icss-plane {
  width: .2em;
  height: 1em;
  border-radius: 50% / 30% 30% 60% 60%;
  margin: .05em .4em 0;
}
i.icss-plane:before {
  width:1em;
  height: .8em;
  border-radius: 50%;
  border: 0 solid transparent;
  border-width: .27em 0 .33em; 
  box-shadow: inset 0 0 0 .5em, 
    0 .52em 0 -.28em;
  clip: rect(0 1em .9em 0);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
i.icss-plane:after {
  width: .4em;
  height: .08em;
  background-color: currentColor;
  border-radius: 50%;
  top: .05em;
  left: 50%;
  transform: translateX(-50%);
}