i.icss-plus {
    width: 1em;
    height: 1em;
    background-color: transparent;
    margin: 0;
}
i.icss-plus:before,
i.icss-plus:after {
    width: 1em;
    height: .18em;
    top: 50%;
    left: 50%;
    border-radius: .06em;
    background-color: currentColor;
}

i.icss-plus:before {
    transform: translate(-50%, -50%) rotate(-180deg)
}
i.icss-plus:after{
    transform: translate(-50%, -50%) rotate(90deg)
}