i.icss-potion {
  width: .7em;
  height: .65em;
  border-radius: .1em .1em .02em .02em;
  background-color: transparent;
  box-shadow: inset -.07em -.065em, inset .07em -.065em;
  margin: .35em .2em 0;
}
i.icss-potion:before {
  width: .63em;
  height: .2em;
  border: .1em solid transparent;
  border-width: 0 .1em 0;
  border-radius: 0 0 .03em .03em;
  box-shadow: inset .065em 0, 
    inset -.065em 0,
    0 -.1em 0 -.02em,
    0 -.195em 0 -.08em,
    0 -.23em 0 -.08em,
    .465em .07em,
    -.465em .07em;
  clip: rect(-.2em .6em 1em .03em);
  transform: translateX(-50%);
  left: 50%;
  top: -.195em;
}
i.icss-potion:after {
  width: .25em;
  height: .2em;
  border-radius: 50%;
  box-shadow: 0 0 0 1em;
  transform: translate(-50%, -50%);
  clip: rect(-.08em .45em .28em -.2em);
  top: 50%;
  left: 50%;
}
