i.icss-pregnant {
    width: .22em;
    height: .22em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: -.09em -.08em 0 -.05em;
    margin: .03em .39em .75em;
}
i.icss-pregnant:before {
    width: .32em;
    height: .43em;
    border: .08em solid currentColor;
    box-shadow: inset 0 -.1em;
    border-radius: .05em .15em .2em .2em;
    top: .28em;
    left: -.055em;
    transform: rotate(-45deg)
}
i.icss-pregnant:after {
    width: .2em;
    height: .53em;
    background-color: currentColor; 
    border-radius: .2em .2em 0 0;
    box-shadow: 0 .24em 0 -.05em;
    top: .25em;
    left: .0em;
}
