i.icss-projection-stat {
  width: .9em;
  height: .75em;
  border-radius: 0 0 .05em .05em;
  background-color: transparent;
  box-shadow: inset 0 .15em, inset 0 0 0 .065em;
  margin: .05em .05em .2em .05em;
}
i.icss-projection-stat:before {
  width: .08em;
  height: .5em;
  background-color: currentColor;
  clip: rect(-.1em 1em .38em -.5em);
  box-shadow: 
    -.13em .05em,
    -.26em .15em,
    .13em .15em,
    .26em .05em;
  top: .23em;
  left: 50%;
  transform: translateX(-50%);
}
i.icss-projection-stat:after {
  width: .35em;
  height: .35em;
  transform: translateX(-50%) rotate(-45deg);
  border-radius: 50%;
  border: .065em solid currentColor;
  border-color: currentColor currentColor transparent transparent;
  box-shadow: 
    .31em -.93em 0 -.1em, 
    .93em -.31em  0 -.1em, 
    .65em -.65em 0 -.1em,
    .13em -.13em 0 -.11em;
  top: .78em;
  left: 50%;
}