i.icss-pushpin {
  width: .28em;
  height: .45em;
  margin: .15em .4em .4em;
  transform: rotate(20deg);
}
.icss-stack i.icss-pushpin {
    transform: translate(-.5em, -.5em) rotate(20deg);
}
i.icss-pushpin:before {
  border: 0.05em solid transparent;
  border-top: .5em solid currentColor;
  border-bottom: 0;
  top: 0.4em;
  left: .09em;
}
i.icss-pushpin:after {
  width: .55em;
  height: .4em;
  background-color: currentColor;
  border-radius: 50%;
  left: 50%;
  top: .3em;
  transform: translateX(-50%);
  box-shadow: 0 -.61em;
  clip: rect(-.3em .55em .15em 0);
}