i.icss-puzzle {
  width: .7em;
  height: .6em;
  background-color: transparent;
  box-shadow: inset 0 .17em, inset 0 -.17em;
  border-radius: .02em;
  margin: .2em .15em;
}
i.icss-puzzle:before {
  width: .3em;
  height: .3em;
  border: .08em solid currentColor;
  border-left-color: transparent; 
  border-width: .05em .08em .05em .1em;
  border-radius: 50%;
  box-shadow: .1em 0 0 .07em,
    .28em -.4em 0 -.04em, 
    .32em -.4em 0 -.04em, 
    .26em .4em 0 -.04em, .23em .4em 0 -.04em;
  top: .15em;
  left: -.065em;
}
i.icss-puzzle:after {
  width: .3em;
  height: .3em;
  border: .08em solid currentColor;
  border-right-color: transparent;
  border-width: .05em .1em .05em .08em;
  border-radius: 50%;
  box-shadow: -.1em 0 0 .07em;
  top: .15em;
  left: .46em;
}