i.icss-quill-pen {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
i.icss-quill-pen:before {
  width: .78em;
  height: .78em;
  border-radius: 85% 15% 100% 0 / 85% 15%;
  box-shadow: 
    inset -.5em .12em 0 -.2em,
    inset .52em -.68em 0 -.2em;
  transform: rotate(-7deg) skewX(-15deg);
  top: .05em;
  left: .17em;
}
i.icss-quill-pen:after {
  width: .2em;
  height: .09em;
  background: currentColor;
  transform: skewY(-45deg);
  left: .05em;
  top: .8em;
}