i.icss-quotation-l {
  width: 1em;
  height: 1em;
  border-radius: .07em;
  background-color: transparent;
  margin: 0;
}
i.icss-quotation-l:before {
  height: .6em;
  width: .6em;
  border: .15em solid currentColor;
  border-color: currentColor currentColor transparent transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
i.icss-quotation-l:after {
  height: .6em;
  width: .6em;
  border: .15em solid currentColor;
  border-color: currentColor currentColor transparent transparent;
  top: 50%;
  left: 50%;
  transform: translate(-110%,-50%) rotate(405deg);
}
