i.icss-race-cup {
  width: .25em;
  height: .45em;
  background-color: transparent;
  box-shadow: inset 0 0 0 .08em;
  border-radius: 0 .05em 100% .08em;
  transform: skewY(-10deg);
  margin: .15em 0 .42em .62em;
}
.icss-stack i.icss-race-cup {
   transform: translate(-.5em, -.5em) skewY(-10deg);
}

i.icss-race-cup:before {
  width: .5em;
  height: .95em;
  background-color: transparent;
  border-top: .2em solid transparent;
  border-radius: 100% / 50% 50% 100% 100%;
  box-shadow: inset 0 0 0 .1em, inset -.1em -.05em 0 .09em, 
    0 .96em 0 -.02em, 0 .75em 0 -.18em;
  clip: rect(0 .5em 1.12em 0);
  transform: skewY(10deg);
  top: -.3em;
  left: -.41em;
}
i.icss-race-cup:after {
  width: .25em;
  height: .45em;
  box-shadow: inset 0 0 0 .08em;
  border-radius: .05em 0 .08em 100%;
  transform: skewY(20deg);
  top: -.105em;
  left: -.58em
}
