i.icss-rebel {
  width: .85em;
  height: .85em;
  background-color: transparent;
  border-radius: 0 50% 50% 50%;
  margin: 0;
  box-shadow: inset -.15em -.15em 0 .15em, .02em .02em 0 .02em;
  transform: scaleY(.9) rotate(45deg);
  overflow: hidden;
  margin: 0 .02em;
}
i.icss-rebel:before {
  width: 1em;
  height: 1em;
  border: 0 solid transparent;
  border-width: 0 0 0 .15em;
  border-radius: 50%;
  box-shadow: inset .05em -.05em,
    inset -.1em -.01em,
    0 0 0 1em;
  transform: rotate(45deg);
  clip: rect(.35em 1em 1em -1em);
  left: .1em;
  top: -.6em;
}
i.icss-rebel:after {
  width: 1em;
  height: 1em;
  border: .0 solid transparent;
  border-width: .15em 0 0 0 ;
  border-radius: 50%;
  box-shadow: inset -.05em .05em,
    inset -.01em -.1em,
    0 0 0 1em;
  transform: rotate(-45deg);
  clip: rect(0 1em 1em 0);
  left: -.6em;
  top: .1em;
}