i.icss-reddit-c {
    height: .6em;
    width: .85em;
    background-color: transparent;
    color: #ff4500;
    box-shadow:  
        inset 0 .12em,
        inset .15em 0,
        inset -.15em 0;
    background-image: 
        radial-gradient(ellipse .4em .85em at .425em -.9em , 
        transparent  0, transparent 0.62em, 
        #ff4500 0.62em, #ff4500 0.65em, 
        #fff 0.65em, #fff .67em, currentColor .67em),
      radial-gradient(circle at 0.28em 0.25em , 
		    #fff  0, #fff 0.08em, 
        #ff4500 0.08em, #ff4500 0.18em, transparent 0.18em),
      radial-gradient(circle at 0.57em 0.25em ,     
		    #fff  0, #fff 0.08em, 
        #ff4500 0.08em, #ff4500 0.18em, transparent 0.18em);
    border-radius: 50%;
    margin: .3em .075em .1em .075em;
}
i.icss-reddit-c:before {
  width: .19em;
  height: .19em;
  background-color: #ff4500;
  color: #ff4500;
  border-radius: 50%;
  box-shadow: 0 .22em, 
    -.38em 0, 
    .38em 0, 
    -.28em .25em 0 -.02em, 
    .28em .25em 0 -.02em, 
    .35em -.33em 0 -.02em;
  top: .05em;
  left: 50%;
  transform: translateX(-50%);
}
i.icss-reddit-c:after {
  width: .3em;
  height: .4em;
  border-radius: .04em;
  border: .06em solid #ff4500;
  border-color: #ff4500 transparent transparent #ff4500; 
  transform: rotate(20deg);
  top: -.265em;
  left: .45em
}