i.icss-rolling-pin {
  width: 1em;
  height: 1em;
  background-color: transparent;
}

i.icss-rolling-pin:before {
  width: .8em;
  height: .3em;
  border-radius: .05em;
  box-shadow: inset 0 0 0 .065em;
  transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 50%;
}
i.icss-rolling-pin:after {
  width: .75em;
  height: .15em;
  border-radius: .05em;
  box-shadow: -.25em 0, .25em 0;
  transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 50%;
}