i.icss-rolling-chair {
  width: .08em;
  height: .7em;
  margin: .15em .46em;
}
i.icss-rolling-chair:before {
  width: .62em;
  height: .4em;
  border-radius: 40% / 45%;
  border: .1em solid transparent; 
  border-width: .13em 0;
  box-shadow: inset 0 0 0 .5em, 
    0 -.39em 0 -.06em,
    0 .46em;
  clip: rect(-.5em 1em .52em 0);
  transform: translateX(-50%);
  top: .2em;
  left: 50%;
}
i.icss-rolling-chair:after {
  width: .12em;
  height: .12em;
  border-radius: 50%;
  transform: translateX(-50%);
  box-shadow: -.2em 0, .2em 0,
    -.3em -.57em 0 .04em, .3em -.57em 0 .04em,
    -.27em -.45em 0 -.02em,
    .27em -.45em 0 -.02em;
  clip: rect(-.49em 1em 1em -.5em);
  top: .73em;
  left: 50%;
}