i.icss-safety-pin {
  width: .35em;
  height: .4em;
  background-color: transparent;
  border: .1em solid currentColor;
  border-bottom-color: transparent;
  border-radius: .17em .17em .1em .1em;
  margin: 0 .325em .6em;
}
i.icss-safety-pin:before {
  width: .3em;
  height: .3em;
  border: .07em solid currentColor;
  border-radius: 50%;
  transform: translateX(-50%);
  left: 50%;
  top: .6em;
}
i.icss-safety-pin:after {
  width: .16em;
  height: .52em;
  transform: translateX(-50%);
  box-shadow: .07em 0, -.115em .07em 0 -.046em;
  left: 50%;
  top: .22em;
}
