i.icss-saxophone {
  width: .4em;
  height: .4em;
  background-color: transparent;
  border: .2em solid transparent;
  border-color: transparent transparent currentColor currentColor;
  border-radius: 50%;
  box-shadow: 
    -.01em .1em 0 -.05em,
    -.45em -.08em 0 -.15em,
    -.35em .12em 0 -.15em,
    -.4em .25em 0 -.15em,
    -.298em 0 0 -.15em;
  margin: .18em 0 .42em .6em;
}
i.icss-saxophone:before {
  width: .42em;
  height: .6em;
  border-radius: .2em;
  transform: rotate(25deg);
  box-shadow: 
    inset .14em -.05em 0 -.05em,
    .05em .06em 0 .05em,
    inset -.15em 0 0 -.01em,
    inset -.05em -.05em 0 .05em;
  clip: rect(.08em 1em 1em 0);
  top: -.1em;
  left: -.53em;
}
i.icss-saxophone:after {
  width: .4em;
  height: .5em;
  border: .1em solid currentColor;
  border-width: .05em .09em .16em .08em;
  border-color: currentColor currentColor transparent transparent;
  border-radius: 50%;
  left: -.723em;
  top: -.38em
}