i.icss-scissors {
    width: .55em;
    height: .55em;
    border-width: 0 0 .1em .1em;
    border-color: transparent transparent currentColor currentColor;
    border-style: solid;
    border-radius: .1em 0em .1em 0em;
    margin: .35em -.1em 0.1em .55em;
    background-color: transparent;
    transform:rotate(45deg);
}
.icss-stack i.icss-scissors {
    transform: translate(-.5em, -.5em) rotate(45deg);
}
i.icss-scissors:before {
    width: .25em;
    height: .35em;
    border-style: solid;
    border-width: .08em;
    border-radius: 100%;
    left: -.17em;
    top: .6em;
    box-shadow: 0 -.15em 0 -0.06em;
}
i.icss-scissors:after {
    width: .35em;
    height: .25em;
    border-style: solid;
    border-width: .08em;
    border-radius: 100%;
    left: -.5em;
    top: .38em;
    box-shadow: .15em 0 0 -.06em;
}
