i.icss-scissors {
    width: .31em;
    height: .26em;
    background-color: transparent;
    border: .07em solid currentColor;
    border-radius: 35% 65%;
    box-shadow: .16em .09em 0 -0.06em;
    margin: .2em .68em .55em .02em;
}
i.icss-scissors:before {
    width: .7em;
    height: .7em;
    border-style: solid;
    border-color: transparent transparent currentColor currentColor;
    border-width: 0 0 .15em .15em;
    border-radius: .1em 0em .1em 0em;
    background-color: transparent;
    transform: scaleY(.6) rotate(45deg);
    box-shadow: 
        -.275em .42em 0 -.275em, 
        -.42em .275em 0 -.275em;
    top: -.095em;
    left: .46em;
}
i.icss-scissors:after {
    width: .31em;
    height: .26em;
    background-color: transparent;
    border: .07em solid currentColor;
    border-radius: 65% 35%;
    box-shadow: .16em -.09em 0 -0.06em;
    left: -.07em;
    top: .32em;
}
