i.icss-scooter {
  width: .45em;
  height: .45em;
  border-radius: 50%;
  border: .065em solid transparent;
  background-color: transparent;
  box-shadow: inset .25em .25em, 
    -.1em -.1em 0 -.03em,
    -.08em -.13em 0 -.03em,
    -.69em 0 0 -.065em,
    -.13em -.49em 0 -.15em;
  margin: .5em -.07em 0 .62em;
}
i.icss-scooter:before {
  width: .76em;
  height: .7em;
  border-radius: .2em .05em .7em .25em / .2em .05em 100% 100%;
  border-bottom: .35em solid transparent;
  box-shadow: inset -.21em -.15em 0 -.1em, 
    inset .2em -.1em,
    inset .35em -.05em 0 -.1em,
    .29em -.3em 0 -.23em transparent;
  transform: rotate(-10deg);
  left: -.6em;
  top: -.23em;
}
i.icss-scooter:after {
  width: .35em;
  height: .12em;
  background: currentColor;
  border-radius: .06em;
  transform: rotate(-10deg);
  box-shadow: .8em .08em 0 .02em,
    .5em -.05em 0 -.02em;
  clip: rect(-.1em .91em .5em 0);
  left: -.7em;
  top: -.33em;
}