i.icss-sd-card {
    width: .72em;
    height: .6em;
    background-color: transparent;
    border-radius: 0 0 .03em .03em;
    box-shadow: inset 0 0 0 .15em, 
        inset 0 -.25em,
        inset 0 .15em,
        -.01em -.22em 0 -.05em;
    margin: .4em .1em 0;
}
i.icss-sd-card:before {
    width: .4em;
    height: .2em;
    border: 0 solid transparent;
    border-width: 0 .07em;
    border-radius: .005em 0 0;
    box-shadow: inset .1em 0, inset -.1em 0, 
        -.05em -.05em 0 .05em,
        .3em .05em 0 -.05em;
    clip: rect(-.1em, .615em, .5em, -.1em);
    top: -.3em;
    left: .1em;
}
i.icss-sd-card:after {
    border: .17em solid transparent;
    border-top-color: currentColor;
    border-radius: .05em;
    top: -.35em;
    left: .33em;
    transform: rotate(45deg);
}