i.icss-search {
    margin: 0 .3em .37em 0;
    width: .73em;
    height: .73em;
    background-color: transparent;
    border-width: .12em;
    border-style: solid;
    border-radius: 100%;
}
i.icss-search:before {
    top: .635em;
    left: .485em;
    border-width: .08em .23em;
    border-style: solid;
    border-radius: .03em;
    transform: rotate(45deg);
    box-shadow: -.18em 0 0 -.03em
}
i.icss-search:after {

}