i.icss-server {
    width: .3em;
    height: .1em;
    background-color: transparent;
    border-radius: .01em;
    border: .1em solid transparent;
    border-width: 0 .1em;
    box-shadow: 
        inset .1em 0,
        -.04em .04em 0 .04em, 
        -.04em -.04em 0 .04em, 
        .54em .04em 0 .04em, 
        .54em -.04em 0 .04em, 
        .25em 0 0 .08em;
    margin: .14em .6em .76em .1em;
}
i.icss-server:before {
    width: .3em;
    height: .1em;
    background-color: transparent;
    border-radius: .01em;
    border: .1em solid transparent;
    border-width: 0 .1em;
    box-shadow: 
        inset .1em 0,
        -.04em .04em 0 .04em, 
        -.04em -.04em 0 .04em, 
        .54em .04em 0 .04em, 
        .54em -.04em 0 .04em, 
        .25em 0 0 .08em;
    left: -.1em;
    top: .33em;}
i.icss-server:after {
    width: .3em;
    height: .1em;
    background-color: transparent;
    border-radius: .01em;
    border: .1em solid transparent;
    border-width: 0 .1em;
    box-shadow: 
        inset .1em 0,
        -.04em .04em 0 .04em, 
        -.04em -.04em 0 .04em, 
        .54em .04em 0 .04em, 
        .54em -.04em 0 .04em, 
        .25em 0 0 .08em;
    left: -.1em;
    top: .65em;}