i.icss-server {
    width: 1em;
    height: .04em;
    border-style: solid;
    border-width: .04em;
    border-radius: .03em;
    margin: .02em 0 .8em 0em;
    background-color: currentColor;
    box-shadow: 0 .2em, 0 .3em, 0 .5em, 0 .6em, 0 .8em;
}
i.icss-server:before {
    width: .35em;
    height: .2em;
    border-style: solid;
    border-width: .12em;
    border-radius: .03em;
    background-color: currentColor;
    left: .4em;
    top: -.03em;
    box-shadow: 0 .3em, 0 .6em;
}
i.icss-server:after {
    width: .1em;
    height: .26em;
    border-style: solid;
    border-width: .13em .05em;
    border-radius: .03em;
    left: -.04em;
    top: -.03em;
    box-shadow: .91em 0, .91em .3em, .91em .6em, 0 .3em, 0 .6em;
}