i.icss-share {
	position: relative;
	border-style: solid;
	border-color:  transparent currentcolor;
	border-width: .4em 0 .4em .45em;
	background-color: transparent;
	margin: 0 0 .15em .85em;
}
i.icss-share:before {
	width: .9em;
	height: .8em;
	border-width: .26em 0 0 0.03em;
	border-style: solid;
	border-color: currentcolor;
	border-radius: 90% 0 0 / 100% 0 0;
	top: -.15em;
	left: -1.3em;
}
	