i.icss-shield-4x {
  width: .9em;
  height: 1em;
  background-color: transparent;
  border-radius: .1em .1em 70% 70% / .1em .1em 100% 100%;
  border: .07em solid currentColor;
  overflow: hidden;
  margin: 0 .05em;
}
i.icss-shield-4x:before {
  width: .25em;
  height: .6em;
  border: .08em solid transparent;
  border-color: currentColor transparent;
  box-shadow: inset .1em 0;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
}

i.icss-shield-4x:after {
  width: .6em;
  height: .25em;
  border: .08em solid transparent;
  border-color: transparent currentColor;
  box-shadow: inset 0 .1em;
  transform: translateX(-50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
}
