i.icss-skull-bones {
	height: .7em;
	width: .7em;
	border-radius: 50%;
	border-bottom: .05em solid transparent;
	background: transparent;
	box-shadow: inset 0 0 0 .1em, 
		inset 0 .2em,
		.42em .33em 0 -.28em,
		.49em .26em 0 -.28em,
		-.42em .33em 0 -.28em,
		-.49em .26em 0 -.28em,
		.39em -.43em 0 -.28em,
		.46em -.37em 0 -.28em,
		-.39em -.43em 0 -.28em,
		-.46em -.37em 0 -.28em;
	background-image: 
		radial-gradient(circle at 50% 32%,
		  currentColor 20%, transparent 20%),
    radial-gradient(circle at 30% 55%,
	   transparent 14%, currentColor 14%,
	   currentColor 26%, transparent 26%),
		radial-gradient(circle at 70% 55%,
	   transparent 14%, currentColor 14%,
	   currentColor 26%, transparent 26%);
	margin: .15em;
}

i.icss-skull-bones:before {
	height: .2em;
	width: .22em;
	box-shadow: .1em 0, -.1em 0, inset .1em 0, 
		.17em -.2em 0 -.03em,
		-.17em -.2em 0 -.03em;
	border: 0 solid transparent;
	border-width: 0 .07em;
	transform: translateX(-50%) perspective(.1em) rotateX(7deg);
	top: .59em;
	left: 50%;
}

i.icss-skull-bones:after {
	height: .13em;
	width: .13em;
	box-shadow: 
		.03em -.46em,
		-.1em .45em,
		.45em -.1em,
		-.45em .03em;
	transform: translate(-50%, -50%) rotate(45deg);
	top: 50%;
	left: 50%;
}
