i.icss-skull {
	height: .7em;
	width: .75em;
	border-radius: 100% 100% 80% 80%;
	background: transparent;
	box-shadow: inset 0 .18em 0 -.1em,
		inset -.12em 0em 0 -.05em,
		inset .12em 0em 0 -.05em;
	margin: .1em 0 .2em;
}

i.icss-skull:before {
	height: .16em;
	width: .065em;
	background-color: currentColor;
	border-radius: .05em;
	top: .68em;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: -.11em 0, .11em 0, 
		.05em -.2em 0 -.01em,
		-.05em -.2em 0 -.01em;
}

i.icss-skull:after {
	height: .17em;
	width: .22em;
	border-radius: 80% 80% 100% 100%;
	background: currentColor;
	top: .295em;
	left: .125em;
	box-shadow: .3em 0;
}
