i.icss-soccer-man {
    width: .22em;
    height: .22em;
    background-color: currentColor;
    border-radius: 50%;
    margin: 0em .35em .78em .43em;
    box-shadow: .28em .8em 0 -.01em;
}
i.icss-soccer-man:before {
    width: .65em;
    height: .46em;
    border: 0 solid transparent;
    border-width: 0 .21em 0 .3em;
    box-shadow: 
        inset 0 .28em,
        inset .07em 0,
        0 -.07em,
        -.09em .26em 0 -.19em; 
    transform: rotate(10deg) skewY(15deg);
    top: .29em;
    left: -.375em
}
i.icss-soccer-man:after {
    width: .24em;
    height: .37em;
    box-shadow: .07em -.08em;
    top: .62em;
    left: -.1em;
    transform: skewY(32deg)
}
