i.icss-sound-1 {
    width: .45em;
    height: .7em;
    background-color: transparent;
    border: .2em solid transparent;
    border-right: .24em solid currentColor; 
    border-left: 0;
    box-shadow: inset .15em 0;
    margin: .15em .5em .15em .05em;
}
i.icss-sound-1:before {
    width: .7em;
    height: .7em;
    border: .1em solid transparent;
    box-shadow: inset 0 0 0 .1em;
    border-radius: 50%; 
    clip: rect(-.4em .8em .35em .35em);
    top: 50%;
    left: .1em;
    transform: scaleX(.8) translateY(-50%) rotate(45deg);
}
i.icss-sound-1:after {
    width: .7em;
    height: .7em;
    border: .1em solid transparent;
    border-radius: 50%; 
    clip: rect(-.4em .8em .35em .35em);
    top: 50%;
    left: .1em;
    transform: scaleX(.8) translateY(-50%) rotate(45deg);
}
