i.icss-spades {
    border-style: solid;
    border-width:0 .18em .25em;
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: transparent;
    margin: .7em .3em 0;
}
i.icss-spades:before {
    width: .5em;
    height: .5em;
    background-color: currentcolor; 
    border-radius: 100% 100% 100% 0.065em;
    box-shadow: .2em 0, 0 -.2em;
    transform: rotate(135deg);
    left:-.25em;
    top:-.55em;

}
