i.icss-speedometer {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: transparent;
  border: .067em solid currentColor;
  border-bottom-color: transparent;
  margin: .05em 0 -.05em
}
i.icss-speedometer:before {
  width: .2em;
  height: .2em;
  border: .065em solid currentColor;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -.4em 0 0 -.05em,
    .4em 0 0 -.05em,
    .28em .28em 0 -.05em,
    -.28em .28em 0 -.05em,
    .28em -.28em 0 -.05em,
    -.28em -.28em 0 -.05em,
    0 -.4em 0 -.05em;
  top: 50%;
  left: 50%;
}
i.icss-speedometer:after {
  width: .07em;
  height: .28em;
  background-color: currentColor;
  transform: translate(-.035em, .05em) rotate(150deg);
  transform-origin: .035em -.05em;
  top: 50%;
  left: 50%;
}