i.icss-spiderman {
	width: .8em; 
	height: 1em; 
	border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  background-color: transparent;
  box-shadow: inset 0 0 0 .065em;
  background-image: linear-gradient( 90deg, 
      transparent 48.5%, currentColor 48.5%, 
      currentColor 51.5%, transparent 51.5%),
    linear-gradient( 60deg, 
      transparent 47%, currentColor 47%, 
      currentColor 49%, transparent 49%),
    linear-gradient( -60deg, 
      transparent 47%, currentColor 47%, 
      currentColor 49%, transparent 49%),
    linear-gradient( 32deg, 
      transparent 46%, currentColor 46%, 
      currentColor 48%, transparent 48%),
    linear-gradient( -32deg, 
      transparent 46%, currentColor 46%, 
      currentColor 48%, transparent 48%),
    radial-gradient(ellipse 170% 80% at 50% 52%, 
      transparent 28%, currentColor 28%,
      currentColor 31%, transparent 31%),
    radial-gradient(ellipse 120% 100% at 50% 50%, 
      transparent 37%, currentColor 37%,
      currentColor 40%, transparent 40%);
  margin: 0 .1em;
}
i.icss-spiderman:before {
  width: .32em;
  height: .2em;
  border-radius: .05em 0 70% 30% / .05em 0 100% 70%;
  border: .065em solid currentColor;
  transform: translate(-50%, -50%) rotate(-20deg);
  left: 75%;
  top: 55%;
}
i.icss-spiderman:after {
  width: .32em;
  height: .2em;
  border-radius:  0 .05em 30% 70% / 0 .05em 70% 100%;
  border: .065em solid currentColor;
  transform: translate(-50%, -50%) rotate(20deg);
  left: 25%;
  top: 55%;
}