i.icss-spinner-half-o {
  width: 1em;
  height: 1em;
  background: transparent;
  margin: 0;
}

i.icss-spinner-half-o:after {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: transparent;
  border: .1em solid currentColor;
  border-color: currentColor currentColor transparent transparent;
  transform: rotate(45deg);
  top: 0;
  left: 0;
}

i.icss-spinner-half-o:before {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: transparent;
  border: .1em solid currentColor;
  border-color: currentColor;
  margin: 0;
  opacity: 0.4;
  top: 0;
  left: 0;
}
