i.icss-sport-car {
    height: 0.2em;
    width: 1.1em;
    background: transparent;
    border-radius: 100% 0% 15% 10% / 100% 10% 80% 50%;
    box-shadow: inset 0 0 0 .065em,
        inset -.92em -.055em;
    margin: .5em 0 .3em;
}
.icss-stack i.icss-sport-car {
    transform: translate(-.55em, -.5em);
}
i.icss-sport-car:before {
    width: .5em;
    height: .27em;
    border-radius: 50% 0;
    box-shadow: inset 0 0 0 .05em,
        inset -.2em .0em;
    transform: rotate(20deg) skewX(-30deg);
    top: -.125em;
    left: .43em;
}
i.icss-sport-car:after {
    width: .22em;
    height: .22em;
    border-radius: 50%;
    box-shadow: 
        inset 0 0 0 1em,
        .55em 0,
        -.01em -.04em 0 .016em;
    top: .07em;
    left: .2em;
}