i.icss-stamp {
  width: .7em;
  height: .76em;
  background-color: transparent;
  border: .05em solid transparent;
  box-shadow: inset 0 0 0 .065em, 0 0 0 .05em;
  margin: .12em .15em;
}
i.icss-stamp:before {
  width: .26em; 
  height: .26em;
  background-color: currentColor;
  border-radius: 100%;
  box-shadow: 0 .34em 0 .11em;
  clip:rect(0em .29em .41em -.04em);
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}
i.icss-stamp:after {
  width: .1em;
  height: .1em;
  transform: translate(-50%, -50%);
  box-shadow: 
    .42em 0, 
    .42em .23em, .42em -.23em,
    -.42em 0, 
    -.42em .23em, -.42em -.23em,
    0 .45em, 
    .2em .45em, -.2em .45em,
    .4em .45em, -.4em .45em,
    0 -.45em, 
    .2em -.45em, -.2em -.45em,
    .4em -.45em, -.4em -.45em;
  top: 50%;
  left: 50%;
}