i.icss-strawberry {
  width: .2em;
  height: .15em;
  border-radius: 50% 0 50% 0;
  margin: .18em .16em .67em .64em;
}
i.icss-strawberry:before {
  width: .55em;
  height: .5em;
  box-shadow: inset 0 0 0 .065em;
  border-radius: 50% 60% 50% 30%;
  background-image: 
    radial-gradient(circle at 50% 50%,
      transparent .03em, currentColor .03em,
      currentColor .11em, transparent .11em),
    radial-gradient(circle at 20% 48%,
      transparent .03em, currentColor .03em,
      currentColor .11em, transparent .11em),
    radial-gradient(circle at 37% 18%,
      transparent .03em, currentColor .03em,
      currentColor .11em, transparent .11em),
    radial-gradient(circle at 55% 80%,
      transparent .03em, currentColor .03em,
      currentColor .11em, transparent .11em),
    radial-gradient(circle at 71% 25%,
      transparent .03em, currentColor .03em,
      currentColor .11em, transparent .11em),
    radial-gradient(circle at 24% 78%,
      transparent .03em, currentColor .03em,
      currentColor .11em, transparent .11em),
    radial-gradient(circle at 77% 60%,
      transparent .03em, currentColor .03em,
      currentColor .11em, transparent .11em);
  transform: rotate(-28deg);
  top: .145em;
  left: -.42em
}
i.icss-strawberry:after {
  width: .15em;
  height: .2em;
  background-color: currentColor;
  border-radius: 0 50% 0 50%;
  top: -.08em;
  left: -.2em;
}