i.icss-sun-cloud {
  width: .35em;
  height: .35em;
  box-shadow: .25em 0,
    -.15em -.56em 0 -.14em,
    .05em -.48em 0 -.14em,
    -.35em -.48em 0 -.14em,
    -.41em -.3em 0 -.14em,
    -.35em -.12em 0 -.14em;
  margin: .28em .4em 0 .28em;
}
i.icss-sun-cloud:before {
  width: .35em;
  height: .35em;
  background-color: currentColor;
  border-radius: 50%;
  left: -.2em;
  box-shadow: .6em 0, 
    .3em -.23em 0 0.02em,
    .13em -.15em 0 -0.08em,
    .5em -.17em; 
}
i.icss-sun-cloud:after {
  width: .45em;
  height: .45em;
  border-radius: 50%;
  border: 0.065em solid currentColor;
  top: -0.35em;
  left:-0.2em;
}