i.icss-sun-c {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: transparent;
  background-image: radial-gradient(ellipse at center, 
    #fd0 1%, #fb0 39%, #fb0 39%, #d61 100%);
  box-shadow: 0 0 .06em .03em rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
  background-position: -.7em -.6em;
  background-size: 165%;
  margin: 0;
}
i.icss-sun-c:before {
}
i.icss-sun-c:after {
}