i.icss-superman-c {
  width: 1em;
  height: 1em;
  background-color: #fe0;
  box-shadow: 
    inset 0 .13em #368, 
    inset 0 -.08em #368;
  background-image: 
    linear-gradient(45deg,
      #368 25%, #c00 25%,
      #c00 28%, transparent 28%,
      transparent 82%, #c00 82%,
      #c00 85%, #368 85%),
    linear-gradient(-45deg,
      #368 25%, #c00 25%,
      #c00 28%, transparent 28%,
      transparent 82%, #c00 82%,
      #c00 85%, #368 85%),
    linear-gradient(#c00 .18em, #000 .18em,
      #000 .2em, transparent .2em,
      transparent .85em, #000 .85em,
      #000 .88em, #c00 .88em),
    linear-gradient(45deg, 
      #000 30%, transparent 30%,
      transparent 80%, #000 80%),
    linear-gradient(-45deg, 
      #000 30%, transparent 30%,
      transparent 80%, #000 80%),
    radial-gradient(circle at .36em .69em, 
      #c00 .07em, #000 .07em,
      #000  .085em, transparent .085em);
  overflow: hidden;
  margin: 0;
}
i.icss-superman-c:before {
  width: .26em;
  height: .16em;
  border-radius: 80% 0 0 80% / 50%;
  box-shadow: 
    -.1em .02em 0 .08em #c00,
    -.11em .02em 0 .1em #000,
    inset .02em 0 0 .02em #000,
    .15em -.07em 0 -.03em #c00,
    .17em -.06em 0 -.02em #000;
  transform: skewX(-40deg);
  left: .33em;
  top: .26em;
}
i.icss-superman-c:after {
  width: .25em;
  height: .18em;
  border: 0 solid transparent;
  border-radius: 0 90% 60% 10% / 50%;
  box-shadow: 
    .08em -.02em 0 .08em #c00, 
    .1em -.0em 0 .08em #000, 
    .1em -.04em 0 .08em #000, 
    inset -.02em 0 0 .02em #000,
    .01em -.38em 0 -.06em #c00,
    .02em -.39em 0 -.055em #000;
  transform: skewX(-30deg);
  left: .37em;
  top: .52em;
}