i.icss-table  {
  width: 1em;
  height: .55em;
  background-color: transparent;
  border: 0 solid transparent;
  border-width: 0 .08em;
  box-shadow: inset .08em 0,
    inset -.08em 0,
    0 -.09em; 
  margin: .4em 0 .05em;
}
i.icss-table:before {
  height: .2em;
  width: .8em;
  border: 0 solid currentColor;
  border-width: 0 .2em;
  box-shadow: 
    0 .065em;
  transform: translateX(-50%);
  top: -.065em;
  left: 50%;
}
i.icss-table:after {
  width: .1em;
  height: .08em;
  border-radius: 50%;
  background-color: currentColor;
  transform: translateX(-50%);
  top: .025em;
  left: 50%;
}