i.icss-tag-o {
  width: .55em;
  height: .7em;
  border-radius: 0 0 .03em .03em;
  background: transparent;
  border: 0.065em solid currentColor;
  border-top: 0;
  transform: rotate(-20deg);
  margin: .24em .2em .06em;
}
.icss-stack i.icss-tag-o {
    transform: translate(-.5em, -.5em) rotate(-20deg);
}
i.icss-tag-o:before {
  width: .42em;
  height: .42em;
  border-radius: .15em .055em;
  border: 0.065em solid currentColor;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: -.21em;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
i.icss-tag-o:after {
  width: .22em;
  height: .22em;
  border-radius: 50%;
  border: 0.065em solid currentColor;
  top: -.1em;
  left: 50%;
  transform: translateX(-50%);
}