i.icss-tag {
  width: .55em;
  height: .7em;
  border-radius: 0 0 .03em .03em;
  background: transparent;
  box-shadow: inset 0 -.42em 0 .2em;
  border-top: 0;
  transform: rotate(-20deg);
  margin: .24em .2em .06em;
}
.icss-stack i.icss-tag {
    transform: translate(-.5em, -.5em) rotate(-20deg);
}
i.icss-tag:before {
  width: .42em;
  height: .42em;
  border-radius: .15em .055em;
  box-shadow: inset 0 0 0 .14em;
  top: -.21em;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
i.icss-tag:after {
  width: .22em;
  height: .22em;
  border-radius: 50%;
  border: 0.05em solid currentColor;
  top: -.1em;
  left: 50%;
  transform: translateX(-50%);
}