i.icss-tank-truck {
    height: 0.38em;
    width: 1.1em;
    background: transparent;
    border-radius: .13em .05em 0 0 / 100% .05em 0 0;
    border: 0 solid transparent;
    border-right: .815em solid transparent;
    box-shadow: 
        inset 0 0 0 .065em,
        inset 0 -.12em 0 .065em,
        -.18em .15em 0 -.05em,
        .05em .15em 0 -.05em;
    margin: .2em .05em .22em .2em;
}
.icss-stack i.icss-tank-truck {
    transform: translate(-.65em, -.5em);
}
i.icss-tank-truck:before {
    width: .82em;
    height: .44em;
    border-radius: .2em / 80%;
    box-shadow: 
        inset 0 .08em, inset 0 -.3em 0, 
        inset 0 0 0 .05em;
    top: -.1em;
    left: .33em;
}
i.icss-tank-truck:after {
    width: .25em;
    height: .25em;
    border-radius: 50%;
    box-shadow: inset 1em 0,
        .55em 0, .83em 0,
        -.22em -.02em 0 -.08em,
        1em -.045em 0 -.075em,
        .23em -.1em 0 -.075em,
        .5em -.59em 0 -.04em,
        .75em -.59em 0 -.04em
        ;
    clip: rect(-.488em 1.2em .3em -.15em);
    top: .35em;
    left: -.05em;
}