i.icss-target-gun {
    width: .7em;
    height: .7em;
    background-color: transparent;
    border: .08em solid transparent;
    box-shadow: inset 0 0 0 .08em, 0 0 0 .08em;
    border-radius: 100%;
    margin: 0.15em;
}
i.icss-target-gun:before {
    width: 1em;
    height: .07em;
    box-shadow: inset .4em 0, inset -.4em 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
i.icss-target-gun:after {
    width: .07em;
    height: 1em;
    box-shadow: inset 0 .4em, inset 0 -.4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}