i.icss-target-arrow {
    width: .7em;
    height: .7em;
    background-color: transparent;
    border: .08em solid transparent;
    box-shadow: inset 0 0 0 .08em, 0 0 0 .08em;
    border-radius: 100%;
    margin: 0.15em;
}
i.icss-target-arrow:before {
    width: .15em;
    height: .15em;
    box-shadow: inset .05em 0 0 .02em,
        -.665em 0 0 .035em;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: rotate(-45deg) translate(.59em, -50%);
    transform-origin: 0 0;
}
i.icss-target-arrow:after {
    width: .55em;
    height: .15em;
    box-shadow: inset 0 .2em, .1em 0;
    border: .05em solid transparent;
    border-left: 0;
    border-right: .07em solid currentColor;
    left: 50%;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transform-origin: 0 0;
}