i.icss-text-sup {
    width: 1em;
    height: 1em;
    background-color: transparent;
    margin: 0;
}

i.icss-text-sup:before {
    content: "x";
    font-family: serif;
    left: 40%;
    top: 40%;
    transform: translate(-50%,-50%);
}

i.icss-text-sup:after {
    content: "2";
    font-size: .4em;
    font-weight: bold;
    font-family: sans-serif;
    left: 1.6em;
    top: -.5em;
}
