i.icss-text-strike {
    width: 1em;
    height: 1em;
    background-color: transparent;
    margin: 0;
}

i.icss-text-strike:before {
    top: 50%;
    left: 50%;
    content: "S";
    font-size: 1em;
    font-weight: bold;
    transform: translate(-50%,-50%);
    font-family: serif;
}

i.icss-text-strike:after {
    width: 1em ;
    height: .55em;
    top: 0;
    left: 0;
    border-bottom: .1em solid currentColor;
}
