i.icss-thermometer-0 {
    height: .9em;
    width: .18em;
    background: transparent;
    border-width: .065em;
    border-style: solid;
    border-radius: .1em;
    margin: 0 .4em .1em;
}
i.icss-thermometer-0:before {
    border-width: .19em;
    border-style: solid;
    border-radius: 100%;
    top: .56em;
    left: 50%;
    transform: translateX(-50%)
}
i.icss-thermometer-0:after {
    border-width: .04em .07em;
    border-style: solid;
    top: .05em;
    left: .155em;
    box-shadow: 0 .13em, 0 .26em, 0 .39em;
}