i.icss-tie-bomber {
    width: 1.4em;
    height: 1em;
    background-color: transparent;
    border: .1em solid transparent;
    border-width: .46em .05em;
    border-color: transparent currentColor;
    border-radius: .2em / .45em;
    box-shadow: inset .3em 0, inset -.85em 0,
        .1em 0 0 -.02em, 
        -.1em 0 0 -.02em;
    margin: 0 .07em;
    transform: rotate(5deg);
}
.icss-stack i.icss-tie-bomber {
    transform: translate(-.75em, -.5em) rotate(5deg);
}
i.icss-tie-bomber:before {
    width: .38em;
    height: .38em;
    border-radius: 50%;
    border: .07em solid transparent;
    box-shadow: inset 0 0 0 .07em, 0 0 0 .09em,
        .6em 0 0 .06em,
        .32em .18em 0 -.13em, 
        .32em 0 0 -.05em, 
        .32em -.13em 0 -.15em;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
}
i.icss-tie-bomber:after {
    width: .08em;
    height: .08em;
    box-shadow: .02em .15em, -.02em -.15em, .15em .02em, -.15em -.02em;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%) rotate(45deg);
}
