i.icss-tie-fighter {
    width: .9em;
    height: 1em;
    background-color: transparent;
    border: .1em solid transparent;
    border-width: .46em .05em;
    border-color: transparent currentColor;
    box-shadow: 
        .05em 0, -.05em 0,
        inset .4em 0 0 -.1em, 
        inset -.4em 0 0 -.1em;
    margin: 0 .05em;
    transform: rotate(5deg);
}
.icss-stack i.icss-tie-fighter {
    transform: translate(-.5em, -.5em) rotate(5deg);
}
i.icss-tie-fighter:before {
    width: .4em;
    height: .4em;
    border-radius: 50%;
    border: .07em solid transparent;
    box-shadow: inset 0 0 0 .07em, 0 0 0 .09em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
i.icss-tie-fighter:after {
    width: .08em;
    height: .08em;
    box-shadow: .02em .16em, -.02em -.16em, .16em .02em, -.16em -.02em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
