i.icss-toilets {
  width: .4em;
  height: .45em;
  background-color: transparent;
  border-radius: .15em .15em 0 0 / 90% 90% 0 0;
  box-shadow: 
    inset 0 -.19em 0 .15em,
    0 .22em 0 -.09em,
    0 .3em 0 -.09em;
  margin: .33em .6em .22em 0;
}
i.icss-toilets:before {
  width: .3em;
  height: .3em;
  background-color: transparent;
  box-shadow: 
    .6em -.02em 0 -.015em,
    inset 0 .43em 0 -.3em,
    inset 0 0 0 .03em,
    inset .1em .03em 0 -.03em,
    inset -.1em .03em 0 -.03em;
  border-radius: 50%;
  transform: translateX(-50%);
  top: -.31em;
  left: 50%;
}
i.icss-toilets:after {
  width: .4em;
  height: .48em;
  background-color: transparent;
  border-radius: .18em .18em 0 0;
  border-top: .1em solid transparent;
  box-shadow: 
    -.3em -.03em 0 -.16em,
    -.3em -.17em 0 -.16em,
    -.3em .11em 0 -.16em,
    -.3em .25em 0 -.16em,
    -.3em .39em 0 -.16em,
    inset .265em 0 0 -.1em,
    inset -.265em 0 0 -.1em,
    0 .25em 0 -.09em,
    0 .4em 0 -.09em;
  top: -.13em;
  left: .6em;
}
