i.icss-torch-2 {
  width: .28em;
  height: .5em;
  background-color: transparent;
  border: .12em solid transparent;
  border-top: .5em solid currentColor;
  border-bottom: 0;
  margin: .45em .36em .05em;
}
i.icss-torch-2:before {
  width: .25em;
  height: .15em;
  background-color: transparent;
  border-radius: 0 60% 60% / 0 60% 60% 70%;
  box-shadow:
    -.05em -.05em 0 .08em;
  transform: translateX(-50%) rotate(45deg);
  top: -.7em;
  left: 50%;
}
i.icss-torch-2:after {
  width: .12em;
  height: .12em;
  background-color: currentColor;
  border-radius: 50%;
  transform: translateX(-50%);
  box-shadow: 
    .14em -.47em 0 -.02em,
    -.14em -.47em 0 -.02em,
    .1em -.35em 0 -.02em,
    -.1em -.35em 0 -.02em;
  top: -.05em;
  left: 50%;
}