i.icss-trash {
    width: .68em;
    height: .9em;
    background-color: transparent;
    border-width: .1em .1em;
    border-style: solid;
    border-radius: .05em;
    margin: .1em .15em 0;
}
i.icss-trash:before {
    border-style: solid;
    border-width: .1em;
    top: -.23em;
    left: 50%;
    border-radius: .1em;
    width: .275em;
    height: 1.03em;
    transform: translateX(-50%);
}
i.icss-trash:after {
    border-width: .1em .43em;
    border-style: solid;
    left: 50%;
    top: -.05em;
    border-radius: .07em;
    transform: translateX(-50%);
}
