i.icss-trash-drop {
	width: .22em; 
	height: .22em;
	border-radius: 50%;
	box-shadow: .32em .38em 0 -.06em;
	margin: 0 .48em .78em .3em;
}

i.icss-trash-drop:before {
	width: .5em;
	height: .75em;
	box-shadow: inset .2em .08em, 
		-.2em .55em 0 -.2em;
	border: 0 solid transparent;
	border-width: .36em .05em 0 0; 
	transform: skewX(-8deg);
	top: -.1em;
	left: 0em;
}

i.icss-trash-drop:after {
	width: .45em;
	height: .4em;
	background-color: transparent;
	box-shadow: inset 0 -.02em 0 .08em, -.11em 0;
	border: 0 solid transparent;
	border-width: .05em .1em 0;
	transform: perspective(.3em) rotateX(-20deg);
	top: .65em;
	left: .22em;
}
