i.icss-triangle {
    width: 1em;
    height: .1em;
    border-radius: 0.05em;
    margin: .82em 0 .06em 0;
}
i.icss-triangle:before {
    width: 1.2em;
    height: 1.2em;
    border: 0.15em solid currentColor;
    border-color: currentColor currentColor transparent transparent;
    border-radius: 0.05em;
    transform: translate(-.1em, -0.56em) scaleX(0.6) rotate(-45deg);
}