i.icss-triangle {
    width: 10em;
    height: 10em;
    background-color: transparent;
}
i.icss-triangle:before {
    width: 9.5em;
    height: 9.5em;
    background-color: transparent;
    border-radius: 1em 100% 100% 55% / 1em 55% 0% 100%;
    background-image: 
        linear-gradient(15deg,transparent 73%, currentcolor 73%, currentcolor 81%, transparent 81%),
        linear-gradient(75deg,transparent 19%, currentcolor 19%, currentcolor 27%, transparent 27%),
        linear-gradient(-45deg,transparent 33%, currentcolor 33%, currentcolor 40%, transparent 40%)
        ;
    margin: 0 2em 1.5em;
    top: 2em;
    left: -1.7em;
    transform: rotate(45deg);
}