i.icss-turntable {
  width: .8em;
  height: .8em;
  border-radius: 50%;
  background-image: 
    radial-gradient(circle at 50% 50%, 
			currentColor 0, currentColor .05em, 
      transparent .05em, transparent .13em,
      currentColor .13em, currentColor .17em,
      transparent .17em, transparent .22em,
      currentColor .22em, currentColor .24em,
      transparent .24em, transparent .28em,
      currentColor .28em, currentColor .3em,
      transparent .3em, transparent .35em,
      currentColor .35em
    );
  box-shadow: .55em -.35em 0 -.34em;
  background-color: transparent;
  margin: .1em .2em .1em .0em;
}
i.icss-turntable:before {
  width: .85em;
  height: .75em;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(-40deg);
  border: .24em solid transparent;
  border-color: currentColor transparent;
  box-shadow: .03em .55em 0 -.3em;
  left: 50%;
  top: 50%;
}
i.icss-turntable:after {
  width: .22em;
  height: .62em;
  background-color: transparent;
  box-shadow: inset -.06em -.1em;
  transform: skewY(-50deg);
  left: .77em;
  top: .13em;
}