i.icss-tv-3D {
  width: .9em;
  height: .6em;
  border-radius: .02em;
  background-color: transparent;
  border: .07em solid currentColor;
  box-shadow: 0 .37em 0 -.27em;
  margin: .25em .05em .15em .05em;
}
i.icss-tv-3D:before {
  content:"3D";
  width: 1.5em;
  height: 1.4em;
  font-size: .4em;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 1.4em;
  box-shadow: 0 .75em 0 -.5em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
i.icss-tv-3D:after {
}