i.icss-twitter  {
  width: .32em;
  height: .3em;
  border-radius: 50%;
  background: transparent;
  border: .1em solid transparent;
  border-width: 0 .065em 0 0;
  box-shadow: inset -.0em -.21em 0 -.15em, 
    -.04em .1em 0 -.02em;
  margin: -.1em 0 .8em .7em;
}

i.icss-twitter:before {
  width: .9em;
  height: .9em;
  border-radius: 50%;
  box-shadow: 
    inset -.15em .05em,
    .11em -.2em 0 .07em;
  border: 1em solid transparent;
  border-width: 0 0 .33em 0;
  transform: rotate(70deg);
  clip: rect(-2em 1.5em 1em .58em);
  top: .01em;
  left: -1em;
}
i.icss-twitter:after {
  width: .9em;
  height: .9em;
  border-radius: 50%;
  box-shadow: 
    inset -.55em -.08em 0 -.4em,
    .13em -.375em 0 -.28em,
    .29em -.19em 0 -.08em
    ;
  border: 1em solid transparent;
  border-width: 0 0 .24em 0;
  transform: rotate(100deg);
  background-image: 
    radial-gradient(circle at .59em .075em, 
      currentColor 0, currentColor .18em, 
      transparent .18em);
  background-size: 1em 1em;
  top: -.3em;
  left: -.8em;
}