i.icss-two-mans {
  width: .4em;
  height: .46em;
  background-color: transparent;
  border-radius: .18em .18em 0 0;
  border-top: .1em solid transparent;
  box-shadow: 
    inset .265em 0 0 -.1em,
    inset -.265em 0 0 -.1em,
    0 .25em 0 -.09em,
    0 .42em 0 -.09em;
  margin: .21em .54em .33em .06em;
}
i.icss-two-mans:before {
  width: .3em;
  height: .3em;
  background-color: transparent;
  box-shadow:
    .48em .01em 0 -.015em,
    inset 0 .43em 0 -.3em,
    inset 0 0 0 .065em;
  border-radius: 50%;
  transform: translateX(-50%);
  top: -.31em;
  left: 50%;
}
i.icss-two-mans:after {
  width: .4em;
  height: .46em;
  background-color: transparent;
  border-radius: .18em .18em 0 0;
  border-top: .1em solid transparent;
  box-shadow: 
    inset .265em 0 0 -.1em,
    inset -.265em 0 0 -.1em,
    0 .25em 0 -.09em,
    0 .42em 0 -.09em;
  top: -.1em;
  left: .48em;
}
