i.icss-umbrella {
    width: .2em;
    height: .8em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    border-radius: .1em;
    border-color: transparent currentColor currentColor transparent;
    margin: .15em .45em 0 .33em;
}
i.icss-umbrella:before {
    width: .9em;
    height: .9em;
    background: currentColor;
    border-radius: 50%;
    clip: rect(0 1em .3em 0);
    top: -.05em;
    left: -.35em;
}
i.icss-umbrella:after {
    width: .07em;
    height: .08em;
    background-color: currentColor;
    border-radius: 0 100% 30% 100%;
    box-shadow: .1em -.1em, 
        -.1em .1em, 
        -.1em .3em, 
        0 .22em, 
        .12em -.24em,
        .26em -.27em;
    top: -.2em;
    left: .05em;
    transform: rotate(65deg)
    
}
