i.icss-upload {
    width: 1em;
    height: .6em;
    background-color: transparent;
    border-width: 0 .2em .3em;
    border-style: solid;
    border-radius: .03em;
    margin: .4em 0 0;
}
i.icss-upload:before {
    height: .5em;
    border-style: solid;
    border-width: 0 .25em .25em;
    border-color: transparent;
    border-bottom-color: currentColor;
    background-color: transparent;
    box-shadow: 0em .35em 0 -.13em;
    top: -.6em;
    left: 50%;
    transform: translateX(-50%);
}

i.icss-upload:after {

}