i.icss-usb-drive {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
i.icss-usb-drive:before {
  width: .27em;
  height: .4em;
  box-shadow: 0 0 0 .06em, 
    inset .055em 0, inset -.055em 0; 
  border: 0 solid transparent;
  border-width: .055em .055em .23em;
  transform: translate(-50%, -50%) rotate(45deg) translateY(-.28em);
  top: 50%;
  left: 50%;
}
i.icss-usb-drive:after {
  width: .5em;
  height: .85em;
  background-color: transparent;
  box-shadow: 
    inset 0 -.05em 0 .16em,
    inset 0 -.6em;
  border-radius: .04em .04em .25em .25em;
  transform: translate(-50%, -50%) rotate(45deg)translateY(.155em);
  top: 50%;
  left: 50%;
}