i.icss-users {
    width: 8em;
    height: 5em;
    border-width: 0.65em;
    border-style: solid;
    border-radius: 8em 8em 2em 2em;
    margin-top: 4em;
    background-color: transparent;
    box-shadow: 4.5em 0.5em 0 -0.5em;
    margin-right: 4em;
}
i.icss-users:before {
    border-style: solid;
    border-width: 0.65em;
    border-radius: 100%;
    top: -4.6em;
    left: 50%;
    transform: translateX(-50%);
    width: 4.5em;
    height: 4.5em;
    box-shadow: 4.5em 1em 0 -0.5em;
}
i.icss-users:after {
    border-style: solid;
    border-width: 1.5em 1em 3em;
    border-radius: 100%;
    width:2em;
    height:2em;
    border-left-color: transparent;
    border-right-color: transparent;
    left:2.3em;
    top: -0.5em
}