i.icss-user-secret {
    width: .38em;
    height: .2em;
    border-style: solid;
    border-width: .065em .18em .1em;
    border-bottom-color: transparent;
    border-radius: .06em .06em 50% 50%;
    background-color: transparent;
    margin: .4em .2em;
}
i.icss-user-secret:before {
    width: .5em;
    height: .5em;
    border-style: solid;
    border-width: .065em;
    border-radius: 100%;
    top:-.25em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0em .59em 0 .2em,
        -.065em -.23em 0 -.11em,
        .065em -.23em 0 -.11em;
    clip: rect(-.2em .65em .78em -.15em);
}
i.icss-user-secret:after {
    border-style: solid;
    border-width: .07em .35em;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top:-.22em;
}