i.icss-user-tie {
    width: .9em;
    height: .5em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    border-radius: .5em .5em .15em .15em;
    margin-top: .5em;
}
i.icss-user-tie:before {
    width: .5em;
    height: .5em;
    border-style: solid;
    border-width: .065em;
    border-radius: 100%;
    top: -.5em;
    left: 50%;
    transform: translateX(-50%);
    background-image: radial-gradient(circle at -.1em -.1em, currentcolor 0, currentcolor .3em, transparent .3em),
        radial-gradient(circle at .35em -.2em, currentcolor 0, currentcolor .35em, transparent .35em),
        radial-gradient(circle at .1em .2em, currentcolor 0, currentcolor .04em, transparent .03em),
        radial-gradient(circle at .28em .2em, currentcolor 0, currentcolor .04em, transparent .03em);
}
i.icss-user-tie:after {
    border-style: solid;
    border-width: .15em .1em .3em;
    border-radius: 100%;
    width: .2em;
    height: .2em;
    border-left-color: transparent;
    border-right-color: transparent;
    left: 50%;
    transform: translateX(-50%);
    top: -.05em;
}