i.icss-user-secret {
    width:3.8em;
    height: 2em;
    border-style: solid;
    border-width: 0.65em 1.8em 1em;
    border-bottom-color: transparent;
    border-radius: 0.6em 0.6em 50% 50%;
    background-color: transparent;
    margin: 4em 2em;
}
i.icss-user-secret:before {
    width:5em;
    height:5em;
    border-style: solid;
    border-width: 0.65em;
    border-radius: 100%;
    top:-2.5em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0em 5.9em 0 2em,
        -0.65em -2.3em 0 -1.1em,
        0.65em -2.3em 0 -1.1em;
    clip: rect(-2em 6.5em 7.8em -1.5em);
}
i.icss-user-secret:after {
    border-style: solid;
    border-width: 0.7em 3.5em;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top:-2.2em;
}