i.icss-vador {
    height: .85em;
    width: .65em;
    background: transparent;
    border-radius: 0.25em .25em 0 0;
    background-image: 
        linear-gradient(currentcolor .24em, transparent .1em),
        radial-gradient(ellipse .15em .12em at .17em .3em, 
            transparent .115em, currentColor .115em, 
            currentColor .2em, transparent .2em),
        radial-gradient(ellipse .15em .12em at .48em .3em, 
            transparent .115em, currentColor .115em, 
            currentColor .2em, transparent .2em);
    box-shadow: 0 -.295em 0 -.27em, inset 0 -.08em ;
    margin: .1em .2em .05em;
}
i.icss-vador:before {
    width: 1em;
    height: .5em;
    border-radius: 0 0 50% 50% / 0 0 20% 20%;
    top: .38em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0 -.03em;
    background-image: 
        radial-gradient(circle at 72% .125em, 
            currentColor 0, currentColor .14em, transparent .14em ),
        radial-gradient(circle at 28% .125em, 
            currentColor 0, currentColor .14em, transparent .14em ),
        linear-gradient(-65deg, 
            transparent .775em, currentColor .775em,
            currentColor .96em, transparent .96em),
        linear-gradient(65deg, 
            transparent .775em, currentColor .775em,
            currentColor .96em, transparent .96em),
        radial-gradient(circle at 50% .1em, 
            transparent .05em, currentColor .05em, 
            currentColor .1em, transparent .1em ),
        radial-gradient(circle at 27.5% .34em, 
            transparent .05em, currentColor .05em, 
            currentColor .1em, transparent .1em ),
        radial-gradient(circle at 72.5% .34em, 
            transparent .05em, currentColor .05em, 
            currentColor .1em, transparent .1em )
        ;
}
i.icss-vador:after {
    height: .35em;
    width: .04em;
    background-color: currentColor;
    top: .53em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: .08em -.1em, -.08em -.1em;
}