i.icss-venom-c {
	width: 0.7em; 
	height:.65em;
	border-radius: 40% 40% 6% 6% / 50%;
	background-color: #fff; 
	background-image: 
		radial-gradient(ellipse 100% 50% at 45% 22%,
			#339 0%, transparent 40%),
		radial-gradient(ellipse 50% 150% at 50% 50%,
		  transparent 80%, #333 0),
		radial-gradient(circle at 50% 90%,
		  #333 8%, transparent 0),
		radial-gradient(ellipse 70% 133% at 50% 0%,
		  transparent 70%, #333 70%,
		  #333 80%, #fff 75%),
		radial-gradient(ellipse 100% 60% at 100% 72%,
		  transparent 43%, #333 43%,
		  #333 57%, transparent 57%),
		radial-gradient(ellipse 100% 60% at 0% 72%,
		  transparent 43%, #333 43%,
		  #333 57%, transparent 57%),
		radial-gradient(ellipse 100% 60% at 50% 44%,
			#333 40%, transparent 40%),
		radial-gradient(ellipse 100% 60% at 50% 25%,
			#333 50%, transparent 40%);
	margin: 0 .1em .35em .2em;
}
i.icss-venom-c:before {
	width: 0.7em; 
	height: 1em;
	border-radius: 50% / 40% 40% 60% 60%;
	background-color: #fbc;
	box-shadow: inset 0 0 0 .065em #333;
	background-image: 
		linear-gradient(120deg, #fff 25%, transparent 25%), 
		linear-gradient(240deg, #fff 25%, transparent 25%), 
		linear-gradient(300deg, #fff 25%, transparent 25%), 
		linear-gradient(60deg, #fff 25%, transparent 25%);
	background-size: .15em .32em;
	background-position: 
		.05em -.0em, 
		.05em -.0em, 
		-.03em -.0em, 
		-.03em -.0em;
	clip: rect(.64em 1em 1em 0);
	left: 0;
	top: 0;
}
i.icss-venom-c:after {
	width: .55em;
	height: .4em;
	border-radius: 50%;
	box-shadow: 
		.255em -.23em 0 -.12em #333,
		inset .05em -.06em #a00,
    -.05em .01em  0 -.02em #800;
	top: .645em;
	left: -.18em;
}
