i.icss-video-camera {
  width: .7em;
  height: .5em;
  border-radius: .1em;
  margin: .4em .23em .1em .07em;
}
i.icss-video-camera:before {
  height: 0.4em;
  border: .2em solid currentColor;
  border-width: .1em .18em .1em 0;
  border-color: transparent currentColor;
  border-radius: .03em;
  top: .05em;
  left: .7em;
}
i.icss-video-camera:after {
  width: .28em;
  height: .28em;
  border: .08em solid currentColor;
  box-shadow: -.3em -.03em 0 .04em;
  border-radius: 50%;
  top: -.26em;
  left: .37em
}