i.icss-video {
    width: 1em;
    height: .75em;
    background-color: transparent;
    border-width: .065em;
    border-style: solid;
    overflow: hidden;
    border-radius: .05em;
}
i.icss-video:before {
    border-style: solid;
    border-width: .15em .05em .15em .25em;
    top: .18em;
    left: .33em;
    border-color: transparent;
    border-left-color: currentColor;
    box-shadow: 0.305em .2em 0 -.09em,
        0.305em .0em 0 -.09em,
        0.305em -.2em 0 -.09em,
        -0.375em -.2em 0 -.09em,
        -0.375em -.0em 0 -.09em,
        -0.375em .2em 0 -.09em;
}
i.icss-video:after {
    height: 1em;
    border-width: .03em;
    border-style: solid;
    left: .2em;
    top: 0;
    box-shadow: .43em 0;
}