i.icss-vinyl {
  width: .7em;
  height: .7em;
  background-color: transparent;
  box-shadow: inset 0 0 0 .065em;
  border-radius: .02em;
  margin: .15em .3em .15em 0;
}
i.icss-vinyl:before {
  width: .2em;
  height: .2em;
  border: .055em solid transparent;
  box-shadow: 0 0 0 .19em, inset 0 0 0 .1em;
  border-radius: 50%;
  transform: translateY(-50%);
  clip: rect(-.5em 1em 1em .05em);
  top: 50%;
  left: .61em;
}
i.icss-vinyl:after {
  width: .26em;
  height: .26em;
  background-color: currentColor;
  border-radius: 50%;
  transform: translateX(-50%);
  top: .13em;
  left: 50%;
  box-shadow: 0 .34em 0 .11em;
  clip:rect(0em .29em .41em -.04em);
}