i.icss-volume-1 {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
i.icss-volume-1:before {
  width: .7em;
  height: .7em;
  border-radius: 50%;
  box-shadow: inset -.2em 0 0 .3em;
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
  left: 50%;
}
i.icss-volume-1:after {
  width: .1em;
  height: .1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: .9em 0, .45em -.45em,
    .11em -.32em, .79em -.32em;
  top: .45em;
  left: 0;
}