i.icss-war-hammer {
  width: .2em;
  height: 1em;
  background-color: transparent;
  box-shadow: inset 0 0 0 .065em, inset 0 -.3em;
  border-radius: .06em;
  transform: rotate(30deg);
  margin: 0 .45em 0 .35em;
}
.icss-stack i.icss-war-hammer {
  transform: translate(-.5em, -.5em) rotate(30deg);
}
i.icss-war-hammer:before {
  width: .5em;
  height: .28em;
  border-radius: .01em;
  border: .065em solid transparent;
  border-width: 0 .08em;
  box-shadow: inset .5em .5em,
    -.05em 0 0 .065em,
    .05em 0 0 .065em;
  transform: translate(-50%);
  top: .15em;
  left: 50%;
}
i.icss-war-hammer:after {
  width: .3em;
  height: .1em;
  border-radius: .05em;
  background-color: currentColor;
  box-shadow: 0 .28em;
  transform: translateX(-50%);
  top: .65em;
  left: 50%;
}
