i.icss-warning {
    width: 10em;
    height: 8.8em;
    background-color: transparent;
    border-radius: 80% 80% 1em 1em / 100% 100% 1em 1em ;
    background-image: 
        linear-gradient(60deg,transparent 63%, currentcolor 63%, currentcolor 71%, transparent 71%),
        linear-gradient(-60deg,transparent 63%, currentcolor 63%, currentcolor 71%, transparent 71%),
        linear-gradient(0deg,transparent 0%, currentcolor 0%, currentcolor 10%, transparent 10%)
        ;
    margin: 0.6em 0 0.6em 0;}
i.icss-warning:before {
    width: 2.4em;
    height: 4em;
    background-color: transparent;
    border: 0.7em solid transparent;
    box-shadow: inset 1em 0, 0 1.7em 0 -0.65em;
    top:46%;
    left:50%;
    transform: translate(-50%, -50%); 
}