i.icss-weight-lifter {
    width: .2em;
    height: .2em;
    background-color: currentColor;
    border-radius: 50%;
    margin: .12em .4em .68em;
    box-shadow: .4em -.13em,
        -.4em -.13em;
}
i.icss-weight-lifter:before {
    width: .64em;
    height: .88em;
    border:.1em solid transparent;
    border-width: .25em .22em 0;
    left: -.22em;
    top: 0;
    box-shadow: inset 0 .34em, 
        0 -.05em,
        inset .08em 0,
        inset -.08em 0;
}
i.icss-weight-lifter:after {
    width: .55em;
    height: .55em;
    border: .1em solid currentColor;
    border-radius: 0 .1em; 
    border-width: 0 0 .08em .08em;
    top: -.27em;
    left: -.175em;
    transform: scaleX(.75) rotate(-45deg);
}
