i.icss-whiskey-jug {
  width: .7em;
  height: .6em;
  border-radius: .2em .2em 0 0;
  border: 0 solid currentColor;
  border-width: .2em .16em .15em;
  background-color: transparent;
  margin: .4em .15em 0;
}
i.icss-whiskey-jug:before {
  width: .28em;
  height: .28em;
  border-radius: 50%;
  border: .07em solid currentColor;
  top: -.43em;
  left: -.19em;
}
i.icss-whiskey-jug:after {
  width: .3em;
  height: .3em;
  background-color: currentColor;
  box-shadow: 
    .18em -.1em 0 -.1em,
    0 -.36em ;
  clip: rect(-.15em 1em 1em -.1em);
  transform: translateX(-50%);
  left: 50%;
  top: -.4em;
}