i.icss-windows-c {
    width: 1em;
    height: 1em;
    background-color: transparent
}
i.icss-windows-c:before {
    width: .35em;
    height: .35em;
    background-color: #f65314;
    box-shadow: .4em 0 #7cbb00, 0 .4em #00a1f1, .4em .4em #ffbb00;
    transform: perspective(1em) rotateY(-20deg);
    top: .1em;
    left: .05em;
}  
i.icss-windows-c:after {
}