i.icss-woman {
    width: .23em;
    height: .23em;
    border-style: solid;
    border-radius: 100% 100% 0 0;
    margin: .03em .2em .74em;
}
i.icss-woman:before {
    width: .45em;
    height: .45em;
    border-width: .075em .075em 0 0;
    border-style: solid;
    border-radius: 0;
    border-color: currentColor currentColor transparent transparent;
    top: .23em;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
}
i.icss-woman:after {
    width: .42em;
    height: .55em;
    border-width: .15em .12em .29em;
    border-style: solid;
    border-color: transparent;
    border-top-color: currentColor;
    border-bottom-color: currentColor;
    border-radius: .1em .1em 0 0;
    top: .24em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset .2em .2em 0 .01em, -.05em .32em 0 -.17em, .07em .32em 0 -.17em;
}