i.icss-woman {
    width: 2.3em;
    height: 2.3em;
    border-style: solid;
    border-radius: 100% 100% 0 0;
    margin: 0.3em 2em 7.4em;
}
i.icss-woman:before {
    width: 4.5em;
    height: 4.5em;
    border-width: 0.75em 0.75em 0 0;
    border-style: solid;
    border-radius: 0;
    border-color: currentColor currentColor transparent transparent;
    top: 2.3em;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
}
i.icss-woman:after {
    width: 4.2em;
    height: 5.5em;
    border-width: 1.5em 1.2em 2.9em;
    border-style: solid;
    border-color: transparent;
    border-top-color: currentColor;
    border-bottom-color: currentColor;
    border-radius: 1em 1em 0 0;
    top: 2.4em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 2em 2em 0 0.1em, -0.5em 3.2em 0 -1.7em, 0.7em 3.2em 0 -1.7em;
}