i.icss-x-men {
  width: 1em;
  height: 1em;
  background-color: transparent;
  border-radius: 50%;
  border: .1em solid currentColor;
  overflow: hidden;
  margin: 0;
}
i.icss-x-men:before,
i.icss-x-men:after {
  width: 1em;
  height: .18em;
  top: 50%;
  left: 50%;
  background-color: currentColor;
}

i.icss-x-men:before {
  transform: translate(-50%, -50%) rotate(-225deg)
}
i.icss-x-men:after{
  transform: translate(-50%, -50%) rotate(225deg)
}