i.icss-yoda {
  width: .4em;
  height: .4em;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  margin: .1em .23em .45em;
  background: transparent;
  background-image: radial-gradient(circle at 32% 39%, 
    transparent 0, transparent .05em, 
    currentColor .051em, currentColor .09em,
    transparent .091em),
    radial-gradient(circle at 68% 39%, 
    transparent 0, transparent .05em, 
    currentColor .051em, currentColor .09em,
    transparent .091em
    );
  box-shadow: 
    inset 0 0 0 .065em,
    inset 0 .23em 0 -.1em,
    0 .17em 0 -.13em,
    -.24em .29em 0 -.14em,
    -.08em .57em 0 -.12em,
    .1em .59em 0 -.14em,
    -.18em .26em 0 -.14em,
    .18em .26em 0 -.13em,
    .22em .21em 0 -.165em,
    .18em .2em 0 -.165em; 
}
i.icss-yoda:before {
  width: .365em;
  height: .45em;
  background: transparent;
  background-image: radial-gradient(circle at -.47em .5em, 
     currentColor 0em, 
      currentColor .7em, transparent .701em, 
      transparent .73em, currentColor .731em, 
      currentColor .75em, transparent .751em ),
    radial-gradient(circle at .82em .5em, 
      currentcolor 0em, currentcolor .7em, transparent .701em, 
      transparent .73em, currentColor .731em, 
      currentColor .75em, transparent .751em )
    ;
  border-left: 0.05em solid transparent;
  border-bottom: 0.05em solid transparent;
  top: .4em;
  left: .0em;
  transform: skewX(5deg);
  box-shadow: -.1em .05em 0 -.05em;
  background-clip: content-box;
}
i.icss-yoda:after {
  width: .5em;
  height: .5em;
  background: currentColor;
  box-shadow:
    -.25em .1em 0 -.12em, .09em -.25em 0 -.12em;
  border-radius: 100% .1em 10% .5em / 100% .5em 10% .1em ;
  top: 0;
  left: -.05em;
  transform: scaleY(.35) rotate(45deg);
}