i.icss-zoom-plus {
    margin: 0 .3em .37em 0;
    width: .73em;
    height: .73em;
    background-color: transparent;
    border-width: .12em;
    border-style: solid;
    border-radius: 100%;
}
i.icss-zoom-plus:before {
    top: .635em;
    left: .485em;
    border-width: .08em .23em;
    border-style: solid;
    border-radius: .03em;
    transform: rotate(45deg);
    box-shadow: -.18em 0 0 -.03em
}
i.icss-zoom-plus:after {
    width: 0.36em;
    height: 0.36em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: 
        linear-gradient(0deg,transparent 39%, currentcolor 39%, currentcolor 61%, transparent 61%),
        linear-gradient(90deg,transparent 39%, currentcolor 39%, currentcolor 61%, transparent 61%);

}