
i[class*="icss-"] {
    position: relative;
    display:inline-block;
    font-style: normal;
    background-color:currentColor;
    box-sizing: border-box;
    vertical-align: text-bottom;
}
i[class*="icss-"]:before, 
i[class*="icss-"]:after {
    content: "";
    border-width: 0; 
    position: absolute;
    box-sizing: border-box;
}

i[class*="icss-"].x2 {
    font-size: 2em;
}
i[class*="icss-"].x3 {
    font-size: 3em;
}
i[class*="icss-"].middle {
    vertical-align:middle;
}

i.icss-anim,
i.icss-anim:before,
i.icss-anim:after
{   transition: all 1s;
}

.icss-spin {
  animation: fa-spin 2s infinite linear;
}
.icss-pulse {
  animation: fa-spin 1s infinite steps(8);
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
