body
{	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 0;
    padding:0;
    color: #369;
}
a 
{	color: #337ab7;
    text-decoration: none;
}
p 
{	margin: 0; 
    padding: 0.5em 1em;
}
h1
{	color: #fff;
    padding:1em;
    margin:0;
}
.icon
{	background: #ccc;
    padding: 2em 2em 1em;
    white-space: nowrap;
    max-height: 30em;
    overflow: hidden;
}
.icon div
{	display:inline-block;
    position: relative;
    line-height: 1em;
    min-height: 1.1em;
}
.icon div i{
    vertical-align: bottom;
}

.debug .icon > div:before {
    content: "";
    width:100%;
    height:1em;
    top:0;
    left:0;
    position: absolute;
    border: 1px solid #369;
}
.icon p
{	font-size: 2em;
    color: #369;
    margin:0;
    font-weight: bold;
}
.icons > div {
    background: #eee;
    font-size: 2em;
    display: inline-block;
    padding:0.2em;
    margin:0.2em;
    border:0.1em solid #ddd;
    line-height:1em;
    height: 1em;
    cursor: pointer;
}
.icons > div.selected {
    border-color: orange;
}
.icons > div > i
{	vertical-align:bottom;

}

.header {
    background: #369;
    color: #fff;
}
.footer {
    background: #369;
    color: #fff;
    margin-top: 1em;
    padding: 2em 4em;
    text-align: right;
}
.footer a {
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    padding: 1em;
    border-radius: 3px;
    background: #2a8;
}
.footer a i {
    color: #444;
}

.header > *, .footer > *, .search > *, .icons {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.search {
    font-size: 1.5em;
    background-color: #eee;
    padding: 0.5em 1em;
}

.search input {
    font-size: 1em;
    border: 3px solid #ccc;
    border-radius: 0.3em;
    color: #666;
    padding: 0.1em 0.5em 0.1em 2em;
}
input:focus {
    border-color: orange;
}
.search .icss-search {
    position: absolute;
    margin: 0.2em 0.4em;
    color: #666;
    font-size: 1.2em
}

.stretch {
    display: inline-block;
    transform: scaleY(2);
}
