body {	
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-size: 16px;
  margin: 0;
  padding:0;
  color: #369;
}
.page-loader .loader p {
  padding:0;
}
.page-loader .loader p::before {
  content: "loading";
}
a {	
  color: #963;
  text-decoration: none;
}
p {	
  margin: 0; 
  padding: 0.5em 0;
  clear: both;
}
.example p.warning {
  color: #e80;
  background-color: rgb(255, 165, 0, .2);
  padding: .5em 0;
  margin: 1em 0;
}
.example {
  padding: 0 .5em;
}
.example hr {
  clear: both;
  background: none;
  border-color: transparent;
}
.example p {
  clear: both;
  padding: 1em 0 .5em;
}
.example .bonus {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 6em;
  border: 2px solid #999;
  padding: .5em;
  box-sizing: border-box;
  margin: 1em 0;
}
.example .bonus pre {
  width:100%;
}
.example .bonus .icss-github-corner,
.example .bonus .icss-github-corner-left {
  position:absolute;
}
code {
  color: #e60000;
  background: #f1f0f0;
}
pre {
  padding: .5em 1em;
  margin: 0;
  width: 80%;
  float: right;
  box-sizing: border-box;
}
h1 {
  color: #fff;
  padding:1em 1em 0;
  margin:0;
}
h3 {
  margin: 0;
  padding: 2em 0 0;
  clear: both;
}
input:focus {
  border-color: orange;
}

.stretch {
  display: inline-block;
  transform: scaleY(2);
}

.icon {	
  background: #ccc;
  padding: 1em 2em;
  white-space: nowrap;
  max-height: 30em;
  overflow: hidden;
}
.icon div {	
  display:inline-block;
  position: relative;
  line-height: 1em;
  min-height: 1.02em;
}
.icon div i{
  vertical-align: bottom;
}
.icon textarea{
  height: 1px;
  opacity: 0;
  width: 1px;
}

.button {
  display: inline-block;
  padding: 1em 1.5em;
  background-color: #2a8;
  color: #fff;
  border: 0;
  font-size: 1em;
  border-radius: 0.3em;
  border: 2px solid #fff;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 0 10px 2px #fff;
}

.icon button {
  padding: 0.5em 1em;
  background-color: currentColor;
  color: inherit;
  border: 0;
  font-size: 1em;
  border-radius: 0.3em;
  border:3px solid #fff;
  cursor: pointer;
}
.icon button:hover {
  box-shadow: 0 0 10px 2px #fff;
}
.icon button > * {
  color: #fff;
  vertical-align: middle;
  margin: 0.2em;
}
.icon button i {
  font-size: 2em;
  vertical-align: middle;
  transition: none;
}
.icon button i:before,
.icon button i:after {
  transition: none;
}

.debug .icon > div:before {
  content: "";
  width:100%;
  height:1em;
  top:0;
  left:0;
  position: absolute;
  border: 1px solid #369;
}
.icon p {
  font-size: 2em;
  margin:0;
  padding: 0;
  font-weight: bold;
}
.icon p.keys {
  font-size: 1em;
  margin: 0;
  padding-bottom: .5em;
}
.icon p.keys a {
  cursor: pointer;
}
.icons > div {
  background: #eee;
  font-size: 2em;
  display: inline-block;
  padding:0.2em;
  margin:0.2em;
  border:0.1em solid #ddd;
  line-height:1em;
  height: 1em;
  cursor: pointer;
}
.icons > div.selected {
    border-color: orange;
}
.icons > div > i {	
  vertical-align:bottom;
}

.header {
  background: #369;
  color: #fff;
}
#icons a.debug {
  position: absolute;
  right: 4em;
  top: 0.5em;
  background: #369;
  color: #fff;
  padding: .1em .5em;
  border: 2px solid #fff;
  border-radius: 0.1em;
  cursor: pointer;
}
.header > a i {
  vertical-align: middle;
  margin-right: ..5em;
}
.debug .header > a {
  background: #ccc;
}

.header .menu a {
  cursor: pointer;
  color: #fff;
  padding: .2em .5em;
  display: inline-block;
}
.header .menu a.select {
    background: #888;
}
.header .menu a span {
  display: inline-block;
  vertical-align: middle;
}

[data-page] {
  display: none;
}

.footer {
    background: #369;
    color: #fff;
    margin-top: 1em;
    padding: 2em 4em;
    text-align: right;
}
.footer a {
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    padding: 1em;
    border-radius: 3px;
    background: #2a8;
}
.footer a i {
    color: #444;
}

h2, .header > *, .footer > *, .search > *, .icons, .page {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#examples h2,
#license h2 {
  position: relative;
  background: #a82;
  color: #fff;
  margin: 0 auto;
  padding: 1em .5em 1.5em;
  max-width:100%;
  z-index: 1;
  overflow: hidden;
}
#examples h2{
  background-color: #8a2;
}

#examples h2:before,
#license h2:before {
  content:"";
  background: #000;
  left: -1em;
  right: -1em;
  height: 4em;
  position: absolute;
  z-index: -1;
  transform: rotate(-2deg);
  transform-origin: 50% 0;
  bottom: -2.4em;
}
#examples h2:after,
#license h2:after {
  content:"";
  background: #fff;
  left: -1em;
  right: -1em;
  height: 4em;
  position: absolute;
  z-index: -1;
  transform: rotate(-1.2deg);
  transform-origin: 50% 0;
  bottom: -3em;
}

.header p {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 1em 2em;
}
.page {
  padding: .5em;
}

[data-page] > .subtitle {
  background-color: #efefef;
  padding: .5em 0;
  z-index: 2;
  position: relative;
  overflow: hidden;
  padding-top: 2em;
}
[data-page] > .subtitle:before {
  content:"";
  background: #000;
  left: -1em;
  right: -1em;
  height: 4em;
  position: absolute;
  z-index: -1;
  transform: rotate(-2deg);
  transform-origin: 50% 0;
  top: -2.4em;
}
[data-page] > .subtitle:after {
  content:"";
  background: #2a8;
  left: -1em;
  right: -1em;
  height: 4em;
  position: absolute;
  z-index: -1;
  transform: rotate(-1.2deg);
  transform-origin: 50% 0;
  top: -3em;
}


.center {
  text-align: center;
}
ul.inline {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.inline li {
  display: inline-block;
}

[data-page] > .title {
  background: #2a8;
  color: #fff;
  display: block; 
}
[data-page] > .title .left,
[data-page] > .title .right {
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
  box-sizing: border-box;
}
[data-page] > .title .right {
  width: calc(100% - 16em);
  text-align: center;
  font-size: 1.5em;
} 
[data-page] > .title .left {
  width: 20em;
  height: 25em;
  position: relative;
  padding: 0;
  margin-left: 3em;
}
[data-page] > .title .left i {
  font-size: 18em;
}
[data-page] > .title .left > div {
  position: absolute;
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
}
[data-page] > .title .left p {
  position: absolute;
  bottom: .5em;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  text-transform: capitalize;
  font-weight: bold;
}

@media (max-width: 700px) {
  [data-page] > .title .right {
    width: 100%;
  } 
  [data-page] > .title .left {
    width: 100%;
    margin:0;
  }
}

.search {
    font-size: 1.5em;
    background-color: #eee;
    padding: 0.5em 1em;
}
.search input {
    font-size: 1em;
    border: 3px solid #ccc;
    border-radius: 0.3em;
    color: #666;
    padding: 0.1em 0.5em 0.1em 2em;
}
.search .icss-search {
  position: absolute;
  margin: 0.2em 0.4em;
  color: #666;
  font-size: 1.2em
}
.search .new,
.search .font-size {
  float: right;
  font-size: 1.5em;
  position: relative;
  padding: 0 0 0 .5em;
}
.search .font-size i {
  cursor: pointer;
}
.search .new {
  font-size: .9em;
  font-style: normal;
  transform: scaleX(0.8);
  cursor: pointer;
}

.search .color {
  float: right;
  font-size: 1.5em;
  position: relative;
  cursor: pointer;
  padding: 0 0 0 1em;
}
.search .color ul {
    display: none;
    position: absolute;
    background:  #fff;
    margin: 0;
    padding: 0;
    z-index: 1;
    box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.5);
    list-style: none;
    right: 0em;
    white-space: nowrap;
    width: 4em;
}
.search .color li {
    float: left;
    width: 1em;
    height: 1em;
    background-color: #ccc;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #fff;
    cursor: pointer;
    transition: all 0.2s;
}
.search .color li:hover {
    border-color: currentColor;   
}
.search .color li.blue {
    background-color: #369;
}
.search .color li.green {
    background-color: #396;
}
.search .color li.red {
    background-color: #963;
}
.search .color li.black {
    background-color: #666;
}


